<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Next EUROPA Theme</title>
  <meta name="author" content="EC Europa">
  <link rel="stylesheet" href="../../../../styles/europa.css">
</head>
<body>
  <div class="facet-tag">
  <span class="facet-tag__label">
    containing
  </span>
  <span class="facet-tag__value">
    Words that the facet is containing
  </span>
</div>
  <script src="../../../../scripts/europa.js"></script>
  <script src="../../../../gitbook/plugins/gitbook-plugin-styleguide/iframeResizer.contentWindow.js"></script>
</body>
</html>
