<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Next EUROPA Theme</title>
  <meta name="author" content="EC Europa">

  <link rel="stylesheet" href="../../../core/styles/core.css">

  <link rel="stylesheet" href="../styles/datepicker.css">

  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
<script src="public/js/components/datepicker/jquery.ui.datepicker.min.js"></script>
<script src="public/js/components/datepicker/datepicker.js"></script>
<link rel="stylesheet" href="public/css/jquery.ui.core.min.css">
<link rel="stylesheet" href="public/css/jquery.ui.datepicker.min.css">

<label for="datepicker">Date:</label>
<input class="form-control" type="text" id="datepicker">


  <script src="../../../gitbook/plugins/gitbook-plugin-styleguide/iframeResizer.contentWindow.js"></script>
</body>
</html>
