<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Next EUROPA Theme</title>
  <meta name="author" content="EC Europa">

  <link rel="stylesheet" href="../styles/core.css">

  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
<div class="form-group">
  <label for="field-ID-1">Radio buttons</label>
  <div class="radio">
    <input name="optionsRadios" type="radio" id="rd-example-1" value="" checked>
    <label for="rd-example-1">Checked multiple option 1.</label>
  </div>
  <div class="radio">
    <input name="optionsRadios" type="radio" id="rd-example-2" value="">
    <label for="rd-example-2">Unchecked multiple option 2.</label>
  </div>
  <p class="form-field-feedback">Some feedback message</p>
</div>


  <script src="../../gitbook/plugins/gitbook-plugin-styleguide/iframeResizer.contentWindow.js"></script>
</body>
</html>
