<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Next EUROPA Theme</title>
  <meta name="author" content="EC Europa">
  <link rel="stylesheet" href="../../../../styles/europa.css">
</head>
<body>
  <a href="#" class="logo" title="Home"></a>
  <script src="../../../../scripts/vendors.js"></script>
  <script src="../../../../scripts/europa.js"></script>
  
  <script src="../../../../gitbook/plugins/gitbook-plugin-styleguide/iframeResizer.contentWindow.js"></script>
</body>
</html>
