.logo {
  display: block;
  float: left;
  width: 140px;
  height: 70px;
  background: url("../images/svg/logo.svg") no-repeat; }

.no-svg .logo {
  background-image: url("../images/png/logo.png"); }

.front .logo {
  float: none;
  width: 225px;
  height: 82px;
  margin: 16px auto 40px auto;
  background: url("../images/svg/logo--big.svg") center center no-repeat;
  background-size: 100%; }

.front.language-bg .logo {
  background-image: url("../images/svg/logo/logo--bg.svg"); }

@media print {
  .front.language-bg .logo:before {
    content: url("../images/svg/logo/logo--bg.svg"); } }

.front.language-cs .logo {
  background-image: url("../images/svg/logo/logo--cs.svg"); }

@media print {
  .front.language-cs .logo:before {
    content: url("../images/svg/logo/logo--cs.svg"); } }

.front.language-da .logo {
  background-image: url("../images/svg/logo/logo--da.svg"); }

@media print {
  .front.language-da .logo:before {
    content: url("../images/svg/logo/logo--da.svg"); } }

.front.language-de .logo {
  background-image: url("../images/svg/logo/logo--de.svg"); }

@media print {
  .front.language-de .logo:before {
    content: url("../images/svg/logo/logo--de.svg"); } }

.front.language-el .logo {
  background-image: url("../images/svg/logo/logo--el.svg"); }

@media print {
  .front.language-el .logo:before {
    content: url("../images/svg/logo/logo--el.svg"); } }

.front.language-en .logo {
  background-image: url("../images/svg/logo/logo--en.svg"); }

@media print {
  .front.language-en .logo:before {
    content: url("../images/svg/logo/logo--en.svg"); } }

.front.language-es .logo {
  background-image: url("../images/svg/logo/logo--es.svg"); }

@media print {
  .front.language-es .logo:before {
    content: url("../images/svg/logo/logo--es.svg"); } }

.front.language-et .logo {
  background-image: url("../images/svg/logo/logo--et.svg"); }

@media print {
  .front.language-et .logo:before {
    content: url("../images/svg/logo/logo--et.svg"); } }

.front.language-fi .logo {
  background-image: url("../images/svg/logo/logo--fi.svg"); }

@media print {
  .front.language-fi .logo:before {
    content: url("../images/svg/logo/logo--fi.svg"); } }

.front.language-fr .logo {
  background-image: url("../images/svg/logo/logo--fr.svg"); }

@media print {
  .front.language-fr .logo:before {
    content: url("../images/svg/logo/logo--fr.svg"); } }

.front.language-ga .logo {
  background-image: url("../images/svg/logo/logo--ga.svg"); }

@media print {
  .front.language-ga .logo:before {
    content: url("../images/svg/logo/logo--ga.svg"); } }

.front.language-hr .logo {
  background-image: url("../images/svg/logo/logo--hr.svg"); }

@media print {
  .front.language-hr .logo:before {
    content: url("../images/svg/logo/logo--hr.svg"); } }

.front.language-hu .logo {
  background-image: url("../images/svg/logo/logo--hu.svg"); }

@media print {
  .front.language-hu .logo:before {
    content: url("../images/svg/logo/logo--hu.svg"); } }

.front.language-it .logo {
  background-image: url("../images/svg/logo/logo--it.svg"); }

@media print {
  .front.language-it .logo:before {
    content: url("../images/svg/logo/logo--it.svg"); } }

.front.language-lt .logo {
  background-image: url("../images/svg/logo/logo--lt.svg"); }

@media print {
  .front.language-lt .logo:before {
    content: url("../images/svg/logo/logo--lt.svg"); } }

.front.language-lv .logo {
  background-image: url("../images/svg/logo/logo--lv.svg"); }

@media print {
  .front.language-lv .logo:before {
    content: url("../images/svg/logo/logo--lv.svg"); } }

.front.language-mt .logo {
  background-image: url("../images/svg/logo/logo--mt.svg"); }

@media print {
  .front.language-mt .logo:before {
    content: url("../images/svg/logo/logo--mt.svg"); } }

.front.language-nl .logo {
  background-image: url("../images/svg/logo/logo--nl.svg"); }

@media print {
  .front.language-nl .logo:before {
    content: url("../images/svg/logo/logo--nl.svg"); } }

.front.language-pl .logo {
  background-image: url("../images/svg/logo/logo--pl.svg"); }

@media print {
  .front.language-pl .logo:before {
    content: url("../images/svg/logo/logo--pl.svg"); } }

.front.language-pt .logo {
  background-image: url("../images/svg/logo/logo--pt.svg"); }

@media print {
  .front.language-pt .logo:before {
    content: url("../images/svg/logo/logo--pt.svg"); } }

.front.language-ro .logo {
  background-image: url("../images/svg/logo/logo--ro.svg"); }

@media print {
  .front.language-ro .logo:before {
    content: url("../images/svg/logo/logo--ro.svg"); } }

.front.language-sk .logo {
  background-image: url("../images/svg/logo/logo--sk.svg"); }

@media print {
  .front.language-sk .logo:before {
    content: url("../images/svg/logo/logo--sk.svg"); } }

.front.language-sl .logo {
  background-image: url("../images/svg/logo/logo--sl.svg"); }

@media print {
  .front.language-sl .logo:before {
    content: url("../images/svg/logo/logo--sl.svg"); } }

.front.language-sv .logo {
  background-image: url("../images/svg/logo/logo--sv.svg"); }

@media print {
  .front.language-sv .logo:before {
    content: url("../images/svg/logo/logo--sv.svg"); } }

@media (min-width: 480px) {
  .front .logo {
    width: 340px;
    height: 124px; } }

@media (min-width: 768px) {
  .front .logo {
    width: 450px;
    height: 164px; } }

@media print {
  .logo:before {
    content: url("../images/svg/logo--big.svg"); } }

.no-svg .front .logo {
  background-image: url("../images/png/logo--big.png");
  width: 378px;
  height: 193px; }

.no-svg .front.language-bg .logo {
  background-image: url("../images/png/logo/logo--bg.png"); }

@media print {
  .no-svg .front.language-bg .logo:before {
    content: url("../images/png/logo/logo--bg.png"); } }

.no-svg .front.language-cs .logo {
  background-image: url("../images/png/logo/logo--cs.png"); }

@media print {
  .no-svg .front.language-cs .logo:before {
    content: url("../images/png/logo/logo--cs.png"); } }

.no-svg .front.language-da .logo {
  background-image: url("../images/png/logo/logo--da.png"); }

@media print {
  .no-svg .front.language-da .logo:before {
    content: url("../images/png/logo/logo--da.png"); } }

.no-svg .front.language-de .logo {
  background-image: url("../images/png/logo/logo--de.png"); }

@media print {
  .no-svg .front.language-de .logo:before {
    content: url("../images/png/logo/logo--de.png"); } }

.no-svg .front.language-el .logo {
  background-image: url("../images/png/logo/logo--el.png"); }

@media print {
  .no-svg .front.language-el .logo:before {
    content: url("../images/png/logo/logo--el.png"); } }

.no-svg .front.language-en .logo {
  background-image: url("../images/png/logo/logo--en.png"); }

@media print {
  .no-svg .front.language-en .logo:before {
    content: url("../images/png/logo/logo--en.png"); } }

.no-svg .front.language-es .logo {
  background-image: url("../images/png/logo/logo--es.png"); }

@media print {
  .no-svg .front.language-es .logo:before {
    content: url("../images/png/logo/logo--es.png"); } }

.no-svg .front.language-et .logo {
  background-image: url("../images/png/logo/logo--et.png"); }

@media print {
  .no-svg .front.language-et .logo:before {
    content: url("../images/png/logo/logo--et.png"); } }

.no-svg .front.language-fi .logo {
  background-image: url("../images/png/logo/logo--fi.png"); }

@media print {
  .no-svg .front.language-fi .logo:before {
    content: url("../images/png/logo/logo--fi.png"); } }

.no-svg .front.language-fr .logo {
  background-image: url("../images/png/logo/logo--fr.png"); }

@media print {
  .no-svg .front.language-fr .logo:before {
    content: url("../images/png/logo/logo--fr.png"); } }

.no-svg .front.language-ga .logo {
  background-image: url("../images/png/logo/logo--ga.png"); }

@media print {
  .no-svg .front.language-ga .logo:before {
    content: url("../images/png/logo/logo--ga.png"); } }

.no-svg .front.language-hr .logo {
  background-image: url("../images/png/logo/logo--hr.png"); }

@media print {
  .no-svg .front.language-hr .logo:before {
    content: url("../images/png/logo/logo--hr.png"); } }

.no-svg .front.language-hu .logo {
  background-image: url("../images/png/logo/logo--hu.png"); }

@media print {
  .no-svg .front.language-hu .logo:before {
    content: url("../images/png/logo/logo--hu.png"); } }

.no-svg .front.language-it .logo {
  background-image: url("../images/png/logo/logo--it.png"); }

@media print {
  .no-svg .front.language-it .logo:before {
    content: url("../images/png/logo/logo--it.png"); } }

.no-svg .front.language-lt .logo {
  background-image: url("../images/png/logo/logo--lt.png"); }

@media print {
  .no-svg .front.language-lt .logo:before {
    content: url("../images/png/logo/logo--lt.png"); } }

.no-svg .front.language-lv .logo {
  background-image: url("../images/png/logo/logo--lv.png"); }

@media print {
  .no-svg .front.language-lv .logo:before {
    content: url("../images/png/logo/logo--lv.png"); } }

.no-svg .front.language-mt .logo {
  background-image: url("../images/png/logo/logo--mt.png"); }

@media print {
  .no-svg .front.language-mt .logo:before {
    content: url("../images/png/logo/logo--mt.png"); } }

.no-svg .front.language-nl .logo {
  background-image: url("../images/png/logo/logo--nl.png"); }

@media print {
  .no-svg .front.language-nl .logo:before {
    content: url("../images/png/logo/logo--nl.png"); } }

.no-svg .front.language-pl .logo {
  background-image: url("../images/png/logo/logo--pl.png"); }

@media print {
  .no-svg .front.language-pl .logo:before {
    content: url("../images/png/logo/logo--pl.png"); } }

.no-svg .front.language-pt .logo {
  background-image: url("../images/png/logo/logo--pt.png"); }

@media print {
  .no-svg .front.language-pt .logo:before {
    content: url("../images/png/logo/logo--pt.png"); } }

.no-svg .front.language-ro .logo {
  background-image: url("../images/png/logo/logo--ro.png"); }

@media print {
  .no-svg .front.language-ro .logo:before {
    content: url("../images/png/logo/logo--ro.png"); } }

.no-svg .front.language-sk .logo {
  background-image: url("../images/png/logo/logo--sk.png"); }

@media print {
  .no-svg .front.language-sk .logo:before {
    content: url("../images/png/logo/logo--sk.png"); } }

.no-svg .front.language-sl .logo {
  background-image: url("../images/png/logo/logo--sl.png"); }

@media print {
  .no-svg .front.language-sl .logo:before {
    content: url("../images/png/logo/logo--sl.png"); } }

.no-svg .front.language-sv .logo {
  background-image: url("../images/png/logo/logo--sv.png"); }

@media print {
  .no-svg .front.language-sv .logo:before {
    content: url("../images/png/logo/logo--sv.png"); } }

.site-header__logo:before, .site-header__logo:after {
  display: none !important; }

/*# sourceMappingURL=logo.css.map */
