a.pseudo-class-active,
a.pseudo-class-hover {
  outline: 0;
}

a.pseudo-class-hover,
a.pseudo-class-focus {
  color: #002148;
  text-decoration: underline;
}

a.pseudo-class-focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.sr-only-focusable.pseudo-class-active,
.sr-only-focusable.pseudo-class-focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}

a.text-primary.pseudo-class-hover,
a.text-primary.pseudo-class-focus {
  color: #002d61;
}

a.text-success.pseudo-class-hover,
a.text-success.pseudo-class-focus {
  color: #2b542c;
}

a.text-info.pseudo-class-hover,
a.text-info.pseudo-class-focus {
  color: #245269;
}

a.text-warning.pseudo-class-hover,
a.text-warning.pseudo-class-focus {
  color: #66512c;
}

a.text-danger.pseudo-class-hover,
a.text-danger.pseudo-class-focus {
  color: #ef0100;
}

a.bg-primary.pseudo-class-hover,
a.bg-primary.pseudo-class-focus {
  background-color: #002d61;
}

a.bg-success.pseudo-class-hover,
a.bg-success.pseudo-class-focus {
  background-color: #c1e2b3;
}

a.bg-info.pseudo-class-hover,
a.bg-info.pseudo-class-focus {
  background-color: #afd9ee;
}

a.bg-warning.pseudo-class-hover,
a.bg-warning.pseudo-class-focus {
  background-color: #f7ecb5;
}

a.bg-danger.pseudo-class-hover,
a.bg-danger.pseudo-class-focus {
  background-color: #e4b9b9;
}

blockquote p.pseudo-class-last-child,
blockquote ul.pseudo-class-last-child,
blockquote ol.pseudo-class-last-child {
  margin-bottom: 0;
}

.table > caption + thead > tr.pseudo-class-first-child > th,
.table > caption + thead > tr.pseudo-class-first-child > td,
.table > colgroup + thead > tr.pseudo-class-first-child > th,
.table > colgroup + thead > tr.pseudo-class-first-child > td,
.table > thead.pseudo-class-first-child > tr.pseudo-class-first-child > th,
.table > thead.pseudo-class-first-child > tr.pseudo-class-first-child > td {
  border-top: 0;
}

.table-hover > tbody > tr.pseudo-class-hover {
  background-color: #f5f5f5;
}

.table-hover > tbody > tr > td.active.pseudo-class-hover,
.table-hover > tbody > tr > th.active.pseudo-class-hover,
.table-hover > tbody > tr.active.pseudo-class-hover > td,
.table-hover > tbody > tr.pseudo-class-hover > .active,
.table-hover > tbody > tr.active.pseudo-class-hover > th {
  background-color: #e8e8e8;
}

.table-hover > tbody > tr > td.success.pseudo-class-hover,
.table-hover > tbody > tr > th.success.pseudo-class-hover,
.table-hover > tbody > tr.success.pseudo-class-hover > td,
.table-hover > tbody > tr.pseudo-class-hover > .success,
.table-hover > tbody > tr.success.pseudo-class-hover > th {
  background-color: #d0e9c6;
}

.table-hover > tbody > tr > td.info.pseudo-class-hover,
.table-hover > tbody > tr > th.info.pseudo-class-hover,
.table-hover > tbody > tr.info.pseudo-class-hover > td,
.table-hover > tbody > tr.pseudo-class-hover > .info,
.table-hover > tbody > tr.info.pseudo-class-hover > th {
  background-color: #c4e3f3;
}

.table-hover > tbody > tr > td.warning.pseudo-class-hover,
.table-hover > tbody > tr > th.warning.pseudo-class-hover,
.table-hover > tbody > tr.warning.pseudo-class-hover > td,
.table-hover > tbody > tr.pseudo-class-hover > .warning,
.table-hover > tbody > tr.warning.pseudo-class-hover > th {
  background-color: #faf2cc;
}

.table-hover > tbody > tr > td.danger.pseudo-class-hover,
.table-hover > tbody > tr > th.danger.pseudo-class-hover,
.table-hover > tbody > tr.danger.pseudo-class-hover > td,
.table-hover > tbody > tr.pseudo-class-hover > .danger,
.table-hover > tbody > tr.danger.pseudo-class-hover > th {
  background-color: #ebcccc;
}

a.pseudo-class-hover,
a.pseudo-class-active,
a.pseudo-class-focus {
  color: #313cfb;
  text-decoration: underline;
}

.select.pseudo-class-hover,
select.pseudo-class-hover {
  border-color: #004494;
}

input[type="file"].pseudo-class-focus,
input[type="radio"].pseudo-class-focus,
input[type="checkbox"].pseudo-class-focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.form-control.pseudo-class-focus,
.ui-datepicker .ui-datepicker-header .ui-datepicker-title select.pseudo-class-focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.has-success .form-control.pseudo-class-focus,
.has-success .ui-datepicker .ui-datepicker-header .ui-datepicker-title select.pseudo-class-focus,
.ui-datepicker .ui-datepicker-header .ui-datepicker-title .has-success select.pseudo-class-focus {
  border-color: #2b542c;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168;
}

.has-warning .form-control.pseudo-class-focus,
.has-warning .ui-datepicker .ui-datepicker-header .ui-datepicker-title select.pseudo-class-focus,
.ui-datepicker .ui-datepicker-header .ui-datepicker-title .has-warning select.pseudo-class-focus {
  border-color: #66512c;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c0a16b;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c0a16b;
}

.has-error .form-control.pseudo-class-focus,
.has-error .ui-datepicker .ui-datepicker-header .ui-datepicker-title select.pseudo-class-focus,
.ui-datepicker .ui-datepicker-header .ui-datepicker-title .has-error select.pseudo-class-focus {
  border-color: #ef0100;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ff8a89;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ff8a89;
}

.btn.pseudo-class-focus,
.inpage-nav__navbar .inpage-nav__toggle.pseudo-class-focus,
.btn.pseudo-class-active.pseudo-class-focus,
.inpage-nav__navbar .inpage-nav__toggle.pseudo-class-active.pseudo-class-focus,
.btn.pseudo-class-active.focus,
.inpage-nav__navbar .inpage-nav__toggle.pseudo-class-active.focus,
.btn.active.pseudo-class-focus,
.inpage-nav__navbar .active.inpage-nav__toggle.pseudo-class-focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.btn.pseudo-class-hover,
.inpage-nav__navbar .inpage-nav__toggle.pseudo-class-hover,
.btn.pseudo-class-focus,
.inpage-nav__navbar .inpage-nav__toggle.pseudo-class-focus {
  color: #333;
  text-decoration: none;
}

.btn.pseudo-class-active,
.inpage-nav__navbar .inpage-nav__toggle.pseudo-class-active {
  outline: 0;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn-default.pseudo-class-focus {
  color: #333;
  background-color: #e6e6e6;
  border-color: #8c8c8c;
}

.btn-default.pseudo-class-hover {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}

.btn-default.pseudo-class-active {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}

.btn-default.pseudo-class-active.pseudo-class-hover,
.btn-default.pseudo-class-active.pseudo-class-focus,
.btn-default.pseudo-class-active.focus,
.btn-default.active.pseudo-class-hover,
.btn-default.active.pseudo-class-focus,
.open > .btn-default.dropdown-toggle.pseudo-class-hover,
.open > .btn-default.dropdown-toggle.pseudo-class-focus {
  color: #333;
  background-color: #d4d4d4;
  border-color: #8c8c8c;
}

.btn-default.pseudo-class-active {
  background-image: none;
}

.btn-default.disabled.pseudo-class-hover,
.btn-default.disabled.pseudo-class-focus,
.btn-default[disabled].pseudo-class-hover,
.btn-default[disabled].pseudo-class-focus,
fieldset[disabled] .btn-default.pseudo-class-hover,
fieldset[disabled] .btn-default.pseudo-class-focus {
  background-color: #fff;
  border-color: #ccc;
}

.btn-primary.pseudo-class-focus {
  color: #fff;
  background-color: #002d61;
  border-color: black;
}

.btn-primary.pseudo-class-hover {
  color: #fff;
  background-color: #002d61;
  border-color: #001c3d;
}

.btn-primary.pseudo-class-active {
  color: #fff;
  background-color: #002d61;
  border-color: #001c3d;
}

.btn-primary.pseudo-class-active.pseudo-class-hover,
.btn-primary.pseudo-class-active.pseudo-class-focus,
.btn-primary.pseudo-class-active.focus,
.btn-primary.active.pseudo-class-hover,
.btn-primary.active.pseudo-class-focus,
.open > .btn-primary.dropdown-toggle.pseudo-class-hover,
.open > .btn-primary.dropdown-toggle.pseudo-class-focus {
  color: #fff;
  background-color: #001c3d;
  border-color: black;
}

.btn-primary.pseudo-class-active {
  background-image: none;
}

.btn-primary.disabled.pseudo-class-hover,
.btn-primary.disabled.pseudo-class-focus,
.btn-primary[disabled].pseudo-class-hover,
.btn-primary[disabled].pseudo-class-focus,
fieldset[disabled] .btn-primary.pseudo-class-hover,
fieldset[disabled] .btn-primary.pseudo-class-focus {
  background-color: #004494;
  border-color: #00387b;
}

.btn-success.pseudo-class-focus {
  color: #fff;
  background-color: #325729;
  border-color: #0a1208;
}

.btn-success.pseudo-class-hover {
  color: #fff;
  background-color: #325729;
  border-color: #243f1d;
}

.btn-success.pseudo-class-active {
  color: #fff;
  background-color: #325729;
  border-color: #243f1d;
}

.btn-success.pseudo-class-active.pseudo-class-hover,
.btn-success.pseudo-class-active.pseudo-class-focus,
.btn-success.pseudo-class-active.focus,
.btn-success.active.pseudo-class-hover,
.btn-success.active.pseudo-class-focus,
.open > .btn-success.dropdown-toggle.pseudo-class-hover,
.open > .btn-success.dropdown-toggle.pseudo-class-focus {
  color: #fff;
  background-color: #243f1d;
  border-color: #0a1208;
}

.btn-success.pseudo-class-active {
  background-image: none;
}

.btn-success.disabled.pseudo-class-hover,
.btn-success.disabled.pseudo-class-focus,
.btn-success[disabled].pseudo-class-hover,
.btn-success[disabled].pseudo-class-focus,
fieldset[disabled] .btn-success.pseudo-class-hover,
fieldset[disabled] .btn-success.pseudo-class-focus {
  background-color: #467a39;
  border-color: #3c6931;
}

.btn-info.pseudo-class-focus {
  color: #fff;
  background-color: #3e3e3e;
  border-color: #0b0b0b;
}

.btn-info.pseudo-class-hover {
  color: #fff;
  background-color: #3e3e3e;
  border-color: #2c2c2c;
}

.btn-info.pseudo-class-active {
  color: #fff;
  background-color: #3e3e3e;
  border-color: #2c2c2c;
}

.btn-info.pseudo-class-active.pseudo-class-hover,
.btn-info.pseudo-class-active.pseudo-class-focus,
.btn-info.pseudo-class-active.focus,
.btn-info.active.pseudo-class-hover,
.btn-info.active.pseudo-class-focus,
.open > .btn-info.dropdown-toggle.pseudo-class-hover,
.open > .btn-info.dropdown-toggle.pseudo-class-focus {
  color: #fff;
  background-color: #2c2c2c;
  border-color: #0b0b0b;
}

.btn-info.pseudo-class-active {
  background-image: none;
}

.btn-info.disabled.pseudo-class-hover,
.btn-info.disabled.pseudo-class-focus,
.btn-info[disabled].pseudo-class-hover,
.btn-info[disabled].pseudo-class-focus,
fieldset[disabled] .btn-info.pseudo-class-hover,
fieldset[disabled] .btn-info.pseudo-class-focus {
  background-color: #575757;
  border-color: #4a4a4a;
}

.btn-warning.pseudo-class-focus {
  color: #fff;
  background-color: #c9880b;
  border-color: #684606;
}

.btn-warning.pseudo-class-hover {
  color: #fff;
  background-color: #c9880b;
  border-color: #a77109;
}

.btn-warning.pseudo-class-active {
  color: #fff;
  background-color: #c9880b;
  border-color: #a77109;
}

.btn-warning.pseudo-class-active.pseudo-class-hover,
.btn-warning.pseudo-class-active.pseudo-class-focus,
.btn-warning.pseudo-class-active.focus,
.btn-warning.active.pseudo-class-hover,
.btn-warning.active.pseudo-class-focus,
.open > .btn-warning.dropdown-toggle.pseudo-class-hover,
.open > .btn-warning.dropdown-toggle.pseudo-class-focus {
  color: #fff;
  background-color: #a77109;
  border-color: #684606;
}

.btn-warning.pseudo-class-active {
  background-image: none;
}

.btn-warning.disabled.pseudo-class-hover,
.btn-warning.disabled.pseudo-class-focus,
.btn-warning[disabled].pseudo-class-hover,
.btn-warning[disabled].pseudo-class-focus,
fieldset[disabled] .btn-warning.pseudo-class-hover,
fieldset[disabled] .btn-warning.pseudo-class-focus {
  background-color: #f2a615;
  border-color: #e1980d;
}

.btn-danger.pseudo-class-focus {
  color: #fff;
  background-color: #ef0100;
  border-color: #890100;
}

.btn-danger.pseudo-class-hover {
  color: #fff;
  background-color: #ef0100;
  border-color: #cb0100;
}

.btn-danger.pseudo-class-active {
  color: #fff;
  background-color: #ef0100;
  border-color: #cb0100;
}

.btn-danger.pseudo-class-active.pseudo-class-hover,
.btn-danger.pseudo-class-active.pseudo-class-focus,
.btn-danger.pseudo-class-active.focus,
.btn-danger.active.pseudo-class-hover,
.btn-danger.active.pseudo-class-focus,
.open > .btn-danger.dropdown-toggle.pseudo-class-hover,
.open > .btn-danger.dropdown-toggle.pseudo-class-focus {
  color: #fff;
  background-color: #cb0100;
  border-color: #890100;
}

.btn-danger.pseudo-class-active {
  background-image: none;
}

.btn-danger.disabled.pseudo-class-hover,
.btn-danger.disabled.pseudo-class-focus,
.btn-danger[disabled].pseudo-class-hover,
.btn-danger[disabled].pseudo-class-focus,
fieldset[disabled] .btn-danger.pseudo-class-hover,
fieldset[disabled] .btn-danger.pseudo-class-focus {
  background-color: #ff2423;
  border-color: #ff0b0a;
}

.btn-link.pseudo-class-active {
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn-link.pseudo-class-hover,
.btn-link.pseudo-class-focus,
.btn-link.pseudo-class-active {
  border-color: transparent;
}

.btn-link.pseudo-class-hover,
.btn-link.pseudo-class-focus {
  color: #002148;
  text-decoration: underline;
  background-color: transparent;
}

.btn-link[disabled].pseudo-class-hover,
.btn-link[disabled].pseudo-class-focus,
fieldset[disabled] .btn-link.pseudo-class-hover,
fieldset[disabled] .btn-link.pseudo-class-focus {
  color: #777777;
  text-decoration: none;
}

.dropdown-toggle.pseudo-class-focus {
  outline: 0;
}

.dropdown-menu > li > a.pseudo-class-hover,
.dropdown-menu > li > a.pseudo-class-focus {
  text-decoration: none;
  color: #262626;
  background-color: #f5f5f5;
}

.dropdown-menu > .active > a.pseudo-class-hover,
.dropdown-menu > .active > a.pseudo-class-focus {
  color: #fff;
  text-decoration: none;
  outline: 0;
  background-color: #004494;
}

.dropdown-menu > .disabled > a.pseudo-class-hover,
.dropdown-menu > .disabled > a.pseudo-class-focus {
  color: #777777;
}

.dropdown-menu > .disabled > a.pseudo-class-hover,
.dropdown-menu > .disabled > a.pseudo-class-focus {
  text-decoration: none;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  cursor: not-allowed;
}

.btn-group > .btn.pseudo-class-hover,
.inpage-nav__navbar .btn-group > .inpage-nav__toggle.pseudo-class-hover,
.btn-group > .btn.pseudo-class-focus,
.inpage-nav__navbar .btn-group > .inpage-nav__toggle.pseudo-class-focus,
.btn-group > .btn.pseudo-class-active,
.inpage-nav__navbar .btn-group > .inpage-nav__toggle.pseudo-class-active,
.btn-group-vertical > .btn.pseudo-class-hover,
.inpage-nav__navbar
    .btn-group-vertical > .inpage-nav__toggle.pseudo-class-hover,
.btn-group-vertical > .btn.pseudo-class-focus,
.inpage-nav__navbar
    .btn-group-vertical > .inpage-nav__toggle.pseudo-class-focus,
.btn-group-vertical > .btn.pseudo-class-active,
.inpage-nav__navbar
    .btn-group-vertical > .inpage-nav__toggle.pseudo-class-active {
  z-index: 2;
}

.btn-group > .btn.pseudo-class-first-child,
.inpage-nav__navbar .btn-group > .inpage-nav__toggle.pseudo-class-first-child {
  margin-left: 0;
}

.btn-group > .btn.pseudo-class-first-child:not(:last-child):not(.dropdown-toggle),
.inpage-nav__navbar .btn-group > .inpage-nav__toggle.pseudo-class-first-child:not(:last-child):not(.dropdown-toggle) {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.btn-group > .btn.pseudo-class-last-child:not(:first-child),
.inpage-nav__navbar .btn-group > .inpage-nav__toggle.pseudo-class-last-child:not(:first-child) {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.btn-group > .btn-group.pseudo-class-first-child:not(:last-child) > .btn.pseudo-class-last-child,
.inpage-nav__navbar .btn-group > .btn-group.pseudo-class-first-child:not(:last-child) > .inpage-nav__toggle.pseudo-class-last-child,
.btn-group > .btn-group.pseudo-class-first-child:not(:last-child) > .dropdown-toggle {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.btn-group > .btn-group.pseudo-class-last-child:not(:first-child) > .btn.pseudo-class-first-child,
.inpage-nav__navbar .btn-group > .btn-group.pseudo-class-last-child:not(:first-child) > .inpage-nav__toggle.pseudo-class-first-child {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.btn-group .dropdown-toggle.pseudo-class-active {
  outline: 0;
}

.btn-group-vertical > .btn.pseudo-class-first-child:not(:last-child),
.inpage-nav__navbar .btn-group-vertical > .inpage-nav__toggle.pseudo-class-first-child:not(:last-child) {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.btn-group-vertical > .btn.pseudo-class-last-child:not(:first-child),
.inpage-nav__navbar .btn-group-vertical > .inpage-nav__toggle.pseudo-class-last-child:not(:first-child) {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.btn-group-vertical > .btn-group.pseudo-class-first-child:not(:last-child) > .btn.pseudo-class-last-child,
.inpage-nav__navbar .btn-group-vertical > .btn-group.pseudo-class-first-child:not(:last-child) > .inpage-nav__toggle.pseudo-class-last-child,
.btn-group-vertical > .btn-group.pseudo-class-first-child:not(:last-child) > .dropdown-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.btn-group-vertical > .btn-group.pseudo-class-last-child:not(:first-child) > .btn.pseudo-class-first-child,
.inpage-nav__navbar .btn-group-vertical > .btn-group.pseudo-class-last-child:not(:first-child) > .inpage-nav__toggle.pseudo-class-first-child {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.input-group .form-control.pseudo-class-focus,
.input-group .ui-datepicker .ui-datepicker-header .ui-datepicker-title select.pseudo-class-focus,
.ui-datepicker .ui-datepicker-header .ui-datepicker-title .input-group select.pseudo-class-focus {
  z-index: 3;
}

.input-group .form-control.pseudo-class-first-child,
.input-group .ui-datepicker .ui-datepicker-header .ui-datepicker-title select.pseudo-class-first-child,
.ui-datepicker .ui-datepicker-header .ui-datepicker-title .input-group select.pseudo-class-first-child,
.input-group-addon.pseudo-class-first-child,
.input-group-btn.pseudo-class-first-child > .btn,
.inpage-nav__navbar
.input-group-btn.pseudo-class-first-child > .inpage-nav__toggle,
.input-group-btn.pseudo-class-first-child > .btn-group > .btn,
.inpage-nav__navbar
.input-group-btn.pseudo-class-first-child > .btn-group > .inpage-nav__toggle,
.input-group-btn.pseudo-class-first-child > .dropdown-toggle,
.input-group-btn.pseudo-class-last-child > .btn:not(:last-child):not(.dropdown-toggle),
.inpage-nav__navbar
.input-group-btn.pseudo-class-last-child > .inpage-nav__toggle:not(:last-child):not(.dropdown-toggle),
.input-group-btn.pseudo-class-last-child > .btn-group:not(:last-child) > .btn,
.inpage-nav__navbar
.input-group-btn.pseudo-class-last-child > .btn-group:not(:last-child) > .inpage-nav__toggle {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.input-group-addon.pseudo-class-first-child {
  border-right: 0;
}

.input-group .form-control.pseudo-class-last-child,
.input-group .ui-datepicker .ui-datepicker-header .ui-datepicker-title select.pseudo-class-last-child,
.ui-datepicker .ui-datepicker-header .ui-datepicker-title .input-group select.pseudo-class-last-child,
.input-group-addon.pseudo-class-last-child,
.input-group-btn.pseudo-class-last-child > .btn,
.inpage-nav__navbar
.input-group-btn.pseudo-class-last-child > .inpage-nav__toggle,
.input-group-btn.pseudo-class-last-child > .btn-group > .btn,
.inpage-nav__navbar
.input-group-btn.pseudo-class-last-child > .btn-group > .inpage-nav__toggle,
.input-group-btn.pseudo-class-last-child > .dropdown-toggle,
.input-group-btn.pseudo-class-first-child > .btn:not(:first-child),
.inpage-nav__navbar
.input-group-btn.pseudo-class-first-child > .inpage-nav__toggle:not(:first-child),
.input-group-btn.pseudo-class-first-child > .btn-group:not(:first-child) > .btn,
.inpage-nav__navbar
.input-group-btn.pseudo-class-first-child > .btn-group:not(:first-child) > .inpage-nav__toggle {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.input-group-addon.pseudo-class-last-child {
  border-left: 0;
}

.input-group-btn > .btn.pseudo-class-hover,
.inpage-nav__navbar .input-group-btn > .inpage-nav__toggle.pseudo-class-hover,
.input-group-btn > .btn.pseudo-class-focus,
.inpage-nav__navbar .input-group-btn > .inpage-nav__toggle.pseudo-class-focus,
.input-group-btn > .btn.pseudo-class-active,
.inpage-nav__navbar .input-group-btn > .inpage-nav__toggle.pseudo-class-active {
  z-index: 2;
}

.input-group-btn.pseudo-class-first-child > .btn,
.inpage-nav__navbar .input-group-btn.pseudo-class-first-child > .inpage-nav__toggle,
.input-group-btn.pseudo-class-first-child > .btn-group {
  margin-right: -1px;
}

.input-group-btn.pseudo-class-last-child > .btn,
.inpage-nav__navbar .input-group-btn.pseudo-class-last-child > .inpage-nav__toggle,
.input-group-btn.pseudo-class-last-child > .btn-group {
  z-index: 2;
  margin-left: -1px;
}

.nav > li > a.pseudo-class-hover,
.nav > li > a.pseudo-class-focus {
  text-decoration: none;
  background-color: #eeeeee;
}

.nav > li.disabled > a.pseudo-class-hover,
.nav > li.disabled > a.pseudo-class-focus {
  color: #777777;
  text-decoration: none;
  background-color: transparent;
  cursor: not-allowed;
}

.nav .open > a.pseudo-class-hover,
.nav .open > a.pseudo-class-focus {
  background-color: #eeeeee;
  border-color: #004494;
}

.nav-tabs > li > a.pseudo-class-hover {
  border-color: #eeeeee #eeeeee #ddd;
}

.nav-tabs > li.active > a.pseudo-class-hover,
.nav-tabs > li.active > a.pseudo-class-focus {
  color: #555555;
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
  cursor: default;
}

.nav-pills > li.active > a.pseudo-class-hover,
.nav-pills > li.active > a.pseudo-class-focus {
  color: #fff;
  background-color: #004494;
}

.nav-tabs-justified > .active > a.pseudo-class-hover,
.nav-tabs.nav-justified > .active > a.pseudo-class-hover,
.nav-tabs-justified > .active > a.pseudo-class-focus,
.nav-tabs.nav-justified > .active > a.pseudo-class-focus {
  border: 1px solid #ddd;
}

.navbar-brand.pseudo-class-hover,
.navbar-brand.pseudo-class-focus {
  text-decoration: none;
}

.navbar-toggle.pseudo-class-focus {
  outline: 0;
}

.navbar-default .navbar-brand.pseudo-class-hover,
.navbar-default .navbar-brand.pseudo-class-focus {
  color: #5e5e5e;
  background-color: transparent;
}

.navbar-default .navbar-nav > li > a.pseudo-class-hover,
.navbar-default .navbar-nav > li > a.pseudo-class-focus {
  color: #333;
  background-color: transparent;
}

.navbar-default .navbar-nav > .active > a.pseudo-class-hover,
.navbar-default .navbar-nav > .active > a.pseudo-class-focus {
  color: #555;
  background-color: #e7e7e7;
}

.navbar-default .navbar-nav > .disabled > a.pseudo-class-hover,
.navbar-default .navbar-nav > .disabled > a.pseudo-class-focus {
  color: #ccc;
  background-color: transparent;
}

.navbar-default .navbar-toggle.pseudo-class-hover,
.navbar-default .navbar-toggle.pseudo-class-focus {
  background-color: #ddd;
}

.navbar-default .navbar-nav > .open > a.pseudo-class-hover,
.navbar-default .navbar-nav > .open > a.pseudo-class-focus {
  background-color: #e7e7e7;
  color: #555;
}

.navbar-default .navbar-link.pseudo-class-hover {
  color: #333;
}

.navbar-default .btn-link.pseudo-class-hover,
.navbar-default .btn-link.pseudo-class-focus {
  color: #333;
}

.navbar-default .btn-link[disabled].pseudo-class-hover,
.navbar-default .btn-link[disabled].pseudo-class-focus,
fieldset[disabled] .navbar-default .btn-link.pseudo-class-hover,
fieldset[disabled] .navbar-default .btn-link.pseudo-class-focus {
  color: #ccc;
}

.navbar-inverse .navbar-brand.pseudo-class-hover,
.navbar-inverse .navbar-brand.pseudo-class-focus {
  color: #fff;
  background-color: transparent;
}

.navbar-inverse .navbar-nav > li > a.pseudo-class-hover,
.navbar-inverse .navbar-nav > li > a.pseudo-class-focus {
  color: #fff;
  background-color: transparent;
}

.navbar-inverse .navbar-nav > .active > a.pseudo-class-hover,
.navbar-inverse .navbar-nav > .active > a.pseudo-class-focus {
  color: #fff;
  background-color: #090909;
}

.navbar-inverse .navbar-nav > .disabled > a.pseudo-class-hover,
.navbar-inverse .navbar-nav > .disabled > a.pseudo-class-focus {
  color: #444;
  background-color: transparent;
}

.navbar-inverse .navbar-toggle.pseudo-class-hover,
.navbar-inverse .navbar-toggle.pseudo-class-focus {
  background-color: #333;
}

.navbar-inverse .navbar-nav > .open > a.pseudo-class-hover,
.navbar-inverse .navbar-nav > .open > a.pseudo-class-focus {
  background-color: #090909;
  color: #fff;
}

.navbar-inverse .navbar-link.pseudo-class-hover {
  color: #fff;
}

.navbar-inverse .btn-link.pseudo-class-hover,
.navbar-inverse .btn-link.pseudo-class-focus {
  color: #fff;
}

.navbar-inverse .btn-link[disabled].pseudo-class-hover,
.navbar-inverse .btn-link[disabled].pseudo-class-focus,
fieldset[disabled] .navbar-inverse .btn-link.pseudo-class-hover,
fieldset[disabled] .navbar-inverse .btn-link.pseudo-class-focus {
  color: #444;
}

.pagination > li.pseudo-class-first-child > a,
.pagination > li.pseudo-class-first-child > span {
  margin-left: 0;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}

.pagination > li.pseudo-class-last-child > a,
.pagination > li.pseudo-class-last-child > span {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}

.pagination > li > a.pseudo-class-hover,
.pagination > li > a.pseudo-class-focus,
.pagination > li > span.pseudo-class-hover,
.pagination > li > span.pseudo-class-focus {
  z-index: 2;
  color: #002148;
  background-color: #eeeeee;
  border-color: #ddd;
}

.pagination > .active > a.pseudo-class-hover,
.pagination > .active > a.pseudo-class-focus,
.pagination > .active > span.pseudo-class-hover,
.pagination > .active > span.pseudo-class-focus {
  z-index: 3;
  color: #fff;
  background-color: #004494;
  border-color: #004494;
  cursor: default;
}

.pagination > .disabled > span.pseudo-class-hover,
.pagination > .disabled > span.pseudo-class-focus,
.pagination > .disabled > a.pseudo-class-hover,
.pagination > .disabled > a.pseudo-class-focus {
  color: #777777;
  background-color: #fff;
  border-color: #ddd;
  cursor: not-allowed;
}

.pagination-lg > li.pseudo-class-first-child > a,
.pagination-lg > li.pseudo-class-first-child > span {
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
}

.pagination-lg > li.pseudo-class-last-child > a,
.pagination-lg > li.pseudo-class-last-child > span {
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
}

.pagination-sm > li.pseudo-class-first-child > a,
.pagination-sm > li.pseudo-class-first-child > span {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}

.pagination-sm > li.pseudo-class-last-child > a,
.pagination-sm > li.pseudo-class-last-child > span {
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}

.pager li > a.pseudo-class-hover,
.pager li > a.pseudo-class-focus {
  text-decoration: none;
  background-color: #eeeeee;
}

.pager .disabled > a.pseudo-class-hover,
.pager .disabled > a.pseudo-class-focus {
  color: #777777;
  background-color: #fff;
  cursor: not-allowed;
}

.label.pseudo-class-empty {
  display: none;
}

a.label.pseudo-class-hover,
a.label.pseudo-class-focus {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.label-default[href].pseudo-class-hover,
[href].label--default.pseudo-class-hover,
.label-default[href].pseudo-class-focus,
[href].label--default.pseudo-class-focus {
  background-color: #5e5e5e;
}

.label-primary[href].pseudo-class-hover,
[href].label--primary.pseudo-class-hover,
.label-primary[href].pseudo-class-focus,
[href].label--primary.pseudo-class-focus {
  background-color: #002d61;
}

.label-success[href].pseudo-class-hover,
[href].label--success.pseudo-class-hover,
.label-success[href].pseudo-class-focus,
[href].label--success.pseudo-class-focus {
  background-color: #325729;
}

.label-info[href].pseudo-class-hover,
[href].label--info.pseudo-class-hover,
.label-info[href].pseudo-class-focus,
[href].label--info.pseudo-class-focus {
  background-color: #3e3e3e;
}

.label-warning[href].pseudo-class-hover,
[href].label--warning.pseudo-class-hover,
.label-warning[href].pseudo-class-focus,
[href].label--warning.pseudo-class-focus {
  background-color: #c9880b;
}

.label-danger[href].pseudo-class-hover,
[href].label--danger.pseudo-class-hover,
.label-danger[href].pseudo-class-focus,
[href].label--danger.pseudo-class-focus {
  background-color: #ef0100;
}

.badge.pseudo-class-empty {
  display: none;
}

a.badge.pseudo-class-hover,
a.badge.pseudo-class-focus {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

a.thumbnail.pseudo-class-hover,
a.thumbnail.pseudo-class-focus {
  border-color: #004494;
}

.media.pseudo-class-first-child {
  margin-top: 0;
}

.list-group-item.pseudo-class-first-child {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

.list-group-item.pseudo-class-last-child {
  margin-bottom: 0;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

a.list-group-item.pseudo-class-hover,
a.list-group-item.pseudo-class-focus,
button.list-group-item.pseudo-class-hover,
button.list-group-item.pseudo-class-focus {
  text-decoration: none;
  color: #555;
  background-color: #f5f5f5;
}

.list-group-item.disabled.pseudo-class-hover,
.list-group-item.disabled.pseudo-class-focus {
  background-color: #eeeeee;
  color: #777777;
  cursor: not-allowed;
}

.list-group-item.disabled.pseudo-class-hover .list-group-item-heading,
.list-group-item.disabled.pseudo-class-focus .list-group-item-heading {
  color: inherit;
}

.list-group-item.disabled.pseudo-class-hover .list-group-item-text,
.list-group-item.disabled.pseudo-class-focus .list-group-item-text {
  color: #777777;
}

.list-group-item.active.pseudo-class-hover,
.list-group-item.active.pseudo-class-focus {
  z-index: 2;
  color: #fff;
  background-color: #004494;
  border-color: #004494;
}

.list-group-item.active.pseudo-class-hover .list-group-item-heading,
.list-group-item.active.pseudo-class-hover .list-group-item-heading > small,
.list-group-item.active.pseudo-class-hover .list-group-item-heading > .small,
.list-group-item.active.pseudo-class-focus .list-group-item-heading,
.list-group-item.active.pseudo-class-focus .list-group-item-heading > small,
.list-group-item.active.pseudo-class-focus .list-group-item-heading > .small {
  color: inherit;
}

.list-group-item.active.pseudo-class-hover .list-group-item-text,
.list-group-item.active.pseudo-class-focus .list-group-item-text {
  color: #61aaff;
}

a.list-group-item-success.pseudo-class-hover,
a.list-group-item-success.pseudo-class-focus,
button.list-group-item-success.pseudo-class-hover,
button.list-group-item-success.pseudo-class-focus {
  color: #3c763d;
  background-color: #d0e9c6;
}

a.list-group-item-success.active.pseudo-class-hover,
a.list-group-item-success.active.pseudo-class-focus,
button.list-group-item-success.active.pseudo-class-hover,
button.list-group-item-success.active.pseudo-class-focus {
  color: #fff;
  background-color: #3c763d;
  border-color: #3c763d;
}

a.list-group-item-info.pseudo-class-hover,
a.list-group-item-info.pseudo-class-focus,
button.list-group-item-info.pseudo-class-hover,
button.list-group-item-info.pseudo-class-focus {
  color: #31708f;
  background-color: #c4e3f3;
}

a.list-group-item-info.active.pseudo-class-hover,
a.list-group-item-info.active.pseudo-class-focus,
button.list-group-item-info.active.pseudo-class-hover,
button.list-group-item-info.active.pseudo-class-focus {
  color: #fff;
  background-color: #31708f;
  border-color: #31708f;
}

a.list-group-item-warning.pseudo-class-hover,
a.list-group-item-warning.pseudo-class-focus,
button.list-group-item-warning.pseudo-class-hover,
button.list-group-item-warning.pseudo-class-focus {
  color: #8a6d3b;
  background-color: #faf2cc;
}

a.list-group-item-warning.active.pseudo-class-hover,
a.list-group-item-warning.active.pseudo-class-focus,
button.list-group-item-warning.active.pseudo-class-hover,
button.list-group-item-warning.active.pseudo-class-focus {
  color: #fff;
  background-color: #8a6d3b;
  border-color: #8a6d3b;
}

a.list-group-item-danger.pseudo-class-hover,
a.list-group-item-danger.pseudo-class-focus,
button.list-group-item-danger.pseudo-class-hover,
button.list-group-item-danger.pseudo-class-focus {
  color: #ff2423;
  background-color: #ebcccc;
}

a.list-group-item-danger.active.pseudo-class-hover,
a.list-group-item-danger.active.pseudo-class-focus,
button.list-group-item-danger.active.pseudo-class-hover,
button.list-group-item-danger.active.pseudo-class-focus {
  color: #fff;
  background-color: #ff2423;
  border-color: #ff2423;
}

.panel > .list-group.pseudo-class-first-child .list-group-item.pseudo-class-first-child,
.panel > .panel-collapse > .list-group.pseudo-class-first-child .list-group-item.pseudo-class-first-child {
  border-top: 0;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

.panel > .list-group.pseudo-class-last-child .list-group-item.pseudo-class-last-child,
.panel > .panel-collapse > .list-group.pseudo-class-last-child .list-group-item.pseudo-class-last-child {
  border-bottom: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.panel > .panel-heading + .panel-collapse > .list-group .list-group-item.pseudo-class-first-child {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.panel-heading + .list-group .list-group-item.pseudo-class-first-child {
  border-top-width: 0;
}

.panel > .table.pseudo-class-first-child,
.panel > .table-responsive.pseudo-class-first-child > .table.pseudo-class-first-child {
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

.panel > .table.pseudo-class-first-child > thead.pseudo-class-first-child > tr.pseudo-class-first-child,
.panel > .table.pseudo-class-first-child > tbody.pseudo-class-first-child > tr.pseudo-class-first-child,
.panel > .table-responsive.pseudo-class-first-child > .table.pseudo-class-first-child > thead.pseudo-class-first-child > tr.pseudo-class-first-child,
.panel > .table-responsive.pseudo-class-first-child > .table.pseudo-class-first-child > tbody.pseudo-class-first-child > tr.pseudo-class-first-child {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.panel > .table.pseudo-class-first-child > thead.pseudo-class-first-child > tr.pseudo-class-first-child td.pseudo-class-first-child,
.panel > .table.pseudo-class-first-child > thead.pseudo-class-first-child > tr.pseudo-class-first-child th.pseudo-class-first-child,
.panel > .table.pseudo-class-first-child > tbody.pseudo-class-first-child > tr.pseudo-class-first-child td.pseudo-class-first-child,
.panel > .table.pseudo-class-first-child > tbody.pseudo-class-first-child > tr.pseudo-class-first-child th.pseudo-class-first-child,
.panel > .table-responsive.pseudo-class-first-child > .table.pseudo-class-first-child > thead.pseudo-class-first-child > tr.pseudo-class-first-child td.pseudo-class-first-child,
.panel > .table-responsive.pseudo-class-first-child > .table.pseudo-class-first-child > thead.pseudo-class-first-child > tr.pseudo-class-first-child th.pseudo-class-first-child,
.panel > .table-responsive.pseudo-class-first-child > .table.pseudo-class-first-child > tbody.pseudo-class-first-child > tr.pseudo-class-first-child td.pseudo-class-first-child,
.panel > .table-responsive.pseudo-class-first-child > .table.pseudo-class-first-child > tbody.pseudo-class-first-child > tr.pseudo-class-first-child th.pseudo-class-first-child {
  border-top-left-radius: 3px;
}

.panel > .table.pseudo-class-first-child > thead.pseudo-class-first-child > tr.pseudo-class-first-child td.pseudo-class-last-child,
.panel > .table.pseudo-class-first-child > thead.pseudo-class-first-child > tr.pseudo-class-first-child th.pseudo-class-last-child,
.panel > .table.pseudo-class-first-child > tbody.pseudo-class-first-child > tr.pseudo-class-first-child td.pseudo-class-last-child,
.panel > .table.pseudo-class-first-child > tbody.pseudo-class-first-child > tr.pseudo-class-first-child th.pseudo-class-last-child,
.panel > .table-responsive.pseudo-class-first-child > .table.pseudo-class-first-child > thead.pseudo-class-first-child > tr.pseudo-class-first-child td.pseudo-class-last-child,
.panel > .table-responsive.pseudo-class-first-child > .table.pseudo-class-first-child > thead.pseudo-class-first-child > tr.pseudo-class-first-child th.pseudo-class-last-child,
.panel > .table-responsive.pseudo-class-first-child > .table.pseudo-class-first-child > tbody.pseudo-class-first-child > tr.pseudo-class-first-child td.pseudo-class-last-child,
.panel > .table-responsive.pseudo-class-first-child > .table.pseudo-class-first-child > tbody.pseudo-class-first-child > tr.pseudo-class-first-child th.pseudo-class-last-child {
  border-top-right-radius: 3px;
}

.panel > .table.pseudo-class-last-child,
.panel > .table-responsive.pseudo-class-last-child > .table.pseudo-class-last-child {
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.panel > .table.pseudo-class-last-child > tbody.pseudo-class-last-child > tr.pseudo-class-last-child,
.panel > .table.pseudo-class-last-child > tfoot.pseudo-class-last-child > tr.pseudo-class-last-child,
.panel > .table-responsive.pseudo-class-last-child > .table.pseudo-class-last-child > tbody.pseudo-class-last-child > tr.pseudo-class-last-child,
.panel > .table-responsive.pseudo-class-last-child > .table.pseudo-class-last-child > tfoot.pseudo-class-last-child > tr.pseudo-class-last-child {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.panel > .table.pseudo-class-last-child > tbody.pseudo-class-last-child > tr.pseudo-class-last-child td.pseudo-class-first-child,
.panel > .table.pseudo-class-last-child > tbody.pseudo-class-last-child > tr.pseudo-class-last-child th.pseudo-class-first-child,
.panel > .table.pseudo-class-last-child > tfoot.pseudo-class-last-child > tr.pseudo-class-last-child td.pseudo-class-first-child,
.panel > .table.pseudo-class-last-child > tfoot.pseudo-class-last-child > tr.pseudo-class-last-child th.pseudo-class-first-child,
.panel > .table-responsive.pseudo-class-last-child > .table.pseudo-class-last-child > tbody.pseudo-class-last-child > tr.pseudo-class-last-child td.pseudo-class-first-child,
.panel > .table-responsive.pseudo-class-last-child > .table.pseudo-class-last-child > tbody.pseudo-class-last-child > tr.pseudo-class-last-child th.pseudo-class-first-child,
.panel > .table-responsive.pseudo-class-last-child > .table.pseudo-class-last-child > tfoot.pseudo-class-last-child > tr.pseudo-class-last-child td.pseudo-class-first-child,
.panel > .table-responsive.pseudo-class-last-child > .table.pseudo-class-last-child > tfoot.pseudo-class-last-child > tr.pseudo-class-last-child th.pseudo-class-first-child {
  border-bottom-left-radius: 3px;
}

.panel > .table.pseudo-class-last-child > tbody.pseudo-class-last-child > tr.pseudo-class-last-child td.pseudo-class-last-child,
.panel > .table.pseudo-class-last-child > tbody.pseudo-class-last-child > tr.pseudo-class-last-child th.pseudo-class-last-child,
.panel > .table.pseudo-class-last-child > tfoot.pseudo-class-last-child > tr.pseudo-class-last-child td.pseudo-class-last-child,
.panel > .table.pseudo-class-last-child > tfoot.pseudo-class-last-child > tr.pseudo-class-last-child th.pseudo-class-last-child,
.panel > .table-responsive.pseudo-class-last-child > .table.pseudo-class-last-child > tbody.pseudo-class-last-child > tr.pseudo-class-last-child td.pseudo-class-last-child,
.panel > .table-responsive.pseudo-class-last-child > .table.pseudo-class-last-child > tbody.pseudo-class-last-child > tr.pseudo-class-last-child th.pseudo-class-last-child,
.panel > .table-responsive.pseudo-class-last-child > .table.pseudo-class-last-child > tfoot.pseudo-class-last-child > tr.pseudo-class-last-child td.pseudo-class-last-child,
.panel > .table-responsive.pseudo-class-last-child > .table.pseudo-class-last-child > tfoot.pseudo-class-last-child > tr.pseudo-class-last-child th.pseudo-class-last-child {
  border-bottom-right-radius: 3px;
}

.panel > .table > tbody.pseudo-class-first-child > tr.pseudo-class-first-child th,
.panel > .table > tbody.pseudo-class-first-child > tr.pseudo-class-first-child td {
  border-top: 0;
}

.panel > .table-bordered > thead > tr > th.pseudo-class-first-child,
.panel > .table-bordered > thead > tr > td.pseudo-class-first-child,
.panel > .table-bordered > tbody > tr > th.pseudo-class-first-child,
.panel > .table-bordered > tbody > tr > td.pseudo-class-first-child,
.panel > .table-bordered > tfoot > tr > th.pseudo-class-first-child,
.panel > .table-bordered > tfoot > tr > td.pseudo-class-first-child,
.panel > .table-responsive > .table-bordered > thead > tr > th.pseudo-class-first-child,
.panel > .table-responsive > .table-bordered > thead > tr > td.pseudo-class-first-child,
.panel > .table-responsive > .table-bordered > tbody > tr > th.pseudo-class-first-child,
.panel > .table-responsive > .table-bordered > tbody > tr > td.pseudo-class-first-child,
.panel > .table-responsive > .table-bordered > tfoot > tr > th.pseudo-class-first-child,
.panel > .table-responsive > .table-bordered > tfoot > tr > td.pseudo-class-first-child {
  border-left: 0;
}

.panel > .table-bordered > thead > tr > th.pseudo-class-last-child,
.panel > .table-bordered > thead > tr > td.pseudo-class-last-child,
.panel > .table-bordered > tbody > tr > th.pseudo-class-last-child,
.panel > .table-bordered > tbody > tr > td.pseudo-class-last-child,
.panel > .table-bordered > tfoot > tr > th.pseudo-class-last-child,
.panel > .table-bordered > tfoot > tr > td.pseudo-class-last-child,
.panel > .table-responsive > .table-bordered > thead > tr > th.pseudo-class-last-child,
.panel > .table-responsive > .table-bordered > thead > tr > td.pseudo-class-last-child,
.panel > .table-responsive > .table-bordered > tbody > tr > th.pseudo-class-last-child,
.panel > .table-responsive > .table-bordered > tbody > tr > td.pseudo-class-last-child,
.panel > .table-responsive > .table-bordered > tfoot > tr > th.pseudo-class-last-child,
.panel > .table-responsive > .table-bordered > tfoot > tr > td.pseudo-class-last-child {
  border-right: 0;
}

.panel > .table-bordered > thead > tr.pseudo-class-first-child > td,
.panel > .table-bordered > thead > tr.pseudo-class-first-child > th,
.panel > .table-bordered > tbody > tr.pseudo-class-first-child > td,
.panel > .table-bordered > tbody > tr.pseudo-class-first-child > th,
.panel > .table-responsive > .table-bordered > thead > tr.pseudo-class-first-child > td,
.panel > .table-responsive > .table-bordered > thead > tr.pseudo-class-first-child > th,
.panel > .table-responsive > .table-bordered > tbody > tr.pseudo-class-first-child > td,
.panel > .table-responsive > .table-bordered > tbody > tr.pseudo-class-first-child > th {
  border-bottom: 0;
}

.panel > .table-bordered > tbody > tr.pseudo-class-last-child > td,
.panel > .table-bordered > tbody > tr.pseudo-class-last-child > th,
.panel > .table-bordered > tfoot > tr.pseudo-class-last-child > td,
.panel > .table-bordered > tfoot > tr.pseudo-class-last-child > th,
.panel > .table-responsive > .table-bordered > tbody > tr.pseudo-class-last-child > td,
.panel > .table-responsive > .table-bordered > tbody > tr.pseudo-class-last-child > th,
.panel > .table-responsive > .table-bordered > tfoot > tr.pseudo-class-last-child > td,
.panel > .table-responsive > .table-bordered > tfoot > tr.pseudo-class-last-child > th {
  border-bottom: 0;
}

.close.pseudo-class-hover,
.close.pseudo-class-focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.carousel-control.pseudo-class-hover,
.carousel-control.pseudo-class-focus {
  outline: 0;
  color: #fff;
  text-decoration: none;
  opacity: 0.9;
  filter: alpha(opacity=90);
}

.btn.pseudo-class-hover,
.inpage-nav__navbar .inpage-nav__toggle.pseudo-class-hover,
.btn.pseudo-class-active,
.inpage-nav__navbar .inpage-nav__toggle.pseudo-class-active,
.btn.pseudo-class-focus,
.inpage-nav__navbar .inpage-nav__toggle.pseudo-class-focus {
  text-decoration: underline;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn.pseudo-class-focus,
.inpage-nav__navbar .inpage-nav__toggle.pseudo-class-focus {
  outline: 2px solid #3e80ec;
  border-color: #3e80ec;
}

.btn.btn-default.pseudo-class-hover,
.inpage-nav__navbar .btn-default.inpage-nav__toggle.pseudo-class-hover {
  background: #004494;
  color: #fff;
}

.btn.btn-default.pseudo-class-active,
.inpage-nav__navbar .btn-default.inpage-nav__toggle.pseudo-class-active,
.btn.btn-default.pseudo-class-focus,
.inpage-nav__navbar .btn-default.inpage-nav__toggle.pseudo-class-focus {
  background: #fff;
  color: #004494;
}

.btn.btn-primary.pseudo-class-hover,
.inpage-nav__navbar .btn-primary.inpage-nav__toggle.pseudo-class-hover,
.btn.btn-primary.pseudo-class-active,
.inpage-nav__navbar .btn-primary.inpage-nav__toggle.pseudo-class-active {
  background: #fff;
  color: #004494;
}

.btn.btn-primary.pseudo-class-focus,
.inpage-nav__navbar .btn-primary.inpage-nav__toggle.pseudo-class-focus {
  color: #fff;
  background: #004494;
}

.btn.btn-ctn.pseudo-class-hover,
.inpage-nav__navbar .btn-ctn.inpage-nav__toggle.pseudo-class-hover,
.btn.btn-time-line.pseudo-class-hover,
.inpage-nav__navbar .btn-time-line.inpage-nav__toggle.pseudo-class-hover,
.btn.btn-ctn.pseudo-class-active,
.inpage-nav__navbar .btn-ctn.inpage-nav__toggle.pseudo-class-active,
.btn.btn-time-line.pseudo-class-active,
.inpage-nav__navbar .btn-time-line.inpage-nav__toggle.pseudo-class-active {
  border-color: #313cfb;
  background: #fff;
}

.btn.btn-ctn.pseudo-class-focus,
.inpage-nav__navbar .btn-ctn.inpage-nav__toggle.pseudo-class-focus,
.btn.btn-time-line.pseudo-class-focus,
.inpage-nav__navbar .btn-time-line.inpage-nav__toggle.pseudo-class-focus {
  border-color: #313cfb;
  outline-color: #313cfb;
}

.btn.btn-menu.pseudo-class-hover,
.inpage-nav__navbar .btn-menu.inpage-nav__toggle.pseudo-class-hover,
.btn.btn-menu.pseudo-class-active,
.inpage-nav__navbar .btn-menu.inpage-nav__toggle.pseudo-class-active,
.btn.btn-menu.pseudo-class-focus,
.inpage-nav__navbar .btn-menu.inpage-nav__toggle.pseudo-class-focus {
  color: #fff;
}

.btn.btn-menu.pseudo-class-active,
.inpage-nav__navbar .btn-menu.inpage-nav__toggle.pseudo-class-active,
.btn.btn-menu.pseudo-class-focus,
.inpage-nav__navbar .btn-menu.inpage-nav__toggle.pseudo-class-focus {
  outline: 2px solid #3e80ec;
}

.btn.btn-menu.pseudo-class-focus,
.inpage-nav__navbar .btn-menu.inpage-nav__toggle.pseudo-class-focus {
  border-color: #3e80ec;
  outline-color: #3e80ec;
}

.btn-ctn--border.pseudo-class-hover,
.site-menu .btn-ctn.pseudo-class-hover,
.site-menu .btn.btn-time-line.pseudo-class-hover,
.site-menu .inpage-nav__navbar .btn-time-line.inpage-nav__toggle.pseudo-class-hover,
.inpage-nav__navbar .site-menu .btn-time-line.inpage-nav__toggle.pseudo-class-hover,
.btn-ctn--border.pseudo-class-active,
.site-menu .btn-ctn.pseudo-class-active,
.site-menu .btn.btn-time-line.pseudo-class-active,
.site-menu .inpage-nav__navbar .btn-time-line.inpage-nav__toggle.pseudo-class-active,
.inpage-nav__navbar .site-menu .btn-time-line.inpage-nav__toggle.pseudo-class-active {
  border-color: #000;
}

.btn-ctn--border.pseudo-class-focus,
.site-menu .btn-ctn.pseudo-class-focus,
.site-menu .btn.btn-time-line.pseudo-class-focus,
.site-menu .inpage-nav__navbar .btn-time-line.inpage-nav__toggle.pseudo-class-focus,
.inpage-nav__navbar .site-menu .btn-time-line.inpage-nav__toggle.pseudo-class-focus {
  border-color: #313cfb;
  outline-color: #313cfb;
}

.btn-block.pseudo-class-last-child {
  margin-bottom: 10px;
}

.checkbox input[type="checkbox"].pseudo-class-checked + label {
  color: #fff;
  background-color: #004494;
}

.checkbox input[type="checkbox"].pseudo-class-checked + label:before {
  background-image: url("../images/svg/checkbox-checked.svg");
}

.checkbox input[type="checkbox"].pseudo-class-hover:not(checked) + label {
  color: #575757;
  border: #004494 solid 2px;
  background-color: #fff;
}

.checkbox input[type="checkbox"].pseudo-class-hover.pseudo-class-checked + label {
  color: #fff;
  border: #3e80ec solid 2px;
  background-color: #004494;
}

.no-svg .checkbox input[type="checkbox"].pseudo-class-checked + label {
  color: inherit;
  background: none;
}

.no-svg .checkbox input[type="checkbox"].pseudo-class-checked + label:before {
  display: none;
}

.context-nav__expander.pseudo-class-hover {
  text-decoration: underline;
}

.context-nav__items.pseudo-class-last-child {
  margin-bottom: 0;
}

.context-nav__item.pseudo-class-last-child:after {
  display: none;
  margin-right: 0;
}

.ui-datepicker .ui-datepicker-header .ui-datepicker-prev.pseudo-class-hover,
.ui-datepicker .ui-datepicker-header .ui-datepicker-next.pseudo-class-hover {
  cursor: pointer;
}

.ui-datepicker .ui-datepicker-header .ui-datepicker-title select.pseudo-class-first-child {
  border-right: 2px solid #686868;
}

.ui-datepicker .ui-datepicker-header .ui-datepicker-title select.pseudo-class-hover,
.ui-datepicker .ui-datepicker-header .ui-datepicker-title select.pseudo-class-active,
.ui-datepicker .ui-datepicker-header .ui-datepicker-title select.pseudo-class-focus {
  color: #fff;
}

.expandable__toggle.pseudo-class-hover {
  background: #3e80ec;
}

.feedback-form__wrapper.pseudo-class-hover,
.feedback-form__wrapper.pseudo-class-active,
.feedback-form__wrapper.pseudo-class-focus {
  background: #f2f2f2;
}

.feedback-form__trigger.pseudo-class-hover,
.feedback-form__trigger.pseudo-class-active,
.feedback-form__trigger.pseudo-class-focus {
  text-decoration: underline;
}

#feedback-form__accordion .accordion-group.pseudo-class-first-child {
  border-top: none;
}

#feedback-form__accordion .accordion-group .accordion-toggle.collapsed.pseudo-class-focus {
  text-decoration: underline;
}

.field--labeled.pseudo-class-last-child {
  margin-bottom: 0;
}

.footer a.pseudo-class-hover,
.footer a.pseudo-class-active,
.footer a.pseudo-class-focus {
  text-decoration: none;
}

.footer__menu .footer__menu-item.pseudo-class-first-child > a {
  padding-left: 0;
}

.footer__menu .footer__menu-item a.pseudo-class-hover,
.footer__menu .footer__menu-item a.pseudo-class-active,
.footer__menu .footer__menu-item a.pseudo-class-focus {
  background: none;
}

a.footer__site-switcher.pseudo-class-hover,
a.footer__site-switcher.pseudo-class-active,
a.footer__site-switcher.pseudo-class-focus {
  text-decoration: underline;
}

a.footer__site-switcher.pseudo-class-focus {
  border: 2px solid #3e80ec;
}

.icon-social.pseudo-class-hover {
  cursor: pointer;
}

.icon-social--blogger.pseudo-class-hover:before {
  background-image: url("../images/svg/icons/social/blogger_hover.svg");
}

.icon-social--facebook.pseudo-class-hover:before {
  background-image: url("../images/svg/icons/social/facebook_hover.svg");
}

.icon-social--flickr.pseudo-class-hover:before {
  background-image: url("../images/svg/icons/social/flick_hover.svg");
}

.icon-social--gplus.pseudo-class-hover:before {
  background-image: url("../images/svg/icons/social/gplus_hover.svg");
}

.icon-social--linkedin.pseudo-class-hover:before {
  background-image: url("../images/svg/icons/social/linkedin_hover.svg");
}

.icon-social--pinterest.pseudo-class-hover:before {
  background-image: url("../images/svg/icons/social/pinterest_hover.svg");
}

.icon-social--rss.pseudo-class-hover:before {
  background-image: url("../images/svg/icons/social/rss_hover.svg");
}

.icon-social--skype.pseudo-class-hover:before {
  background-image: url("../images/svg/icons/social/skype_hover.svg");
}

.icon-social--twitter.pseudo-class-hover:before {
  background-image: url("../images/svg/icons/social/twitter_hover.svg");
}

.icon-social--youtube.pseudo-class-hover:before {
  background-image: url("../images/svg/icons/social/youtube_hover.svg");
}

.no-svg .icon-social--blogger.pseudo-class-hover:before {
  background-image: url("../images/png/icons/social/blogger_hover.png");
}

.no-svg .icon-social--facebook.pseudo-class-hover:before {
  background-image: url("../images/png/icons/social/facebook_hover.png");
}

.no-svg .icon-social--flickr.pseudo-class-hover:before {
  background-image: url("../images/png/icons/social/flickr_hover.png");
}

.no-svg .icon-social--gplus.pseudo-class-hover:before {
  background-image: url("../images/png/icons/social/gplus_hover.png");
}

.no-svg .icon-social--linkedin.pseudo-class-hover:before {
  background-image: url("../images/png/icons/social/linkedin_hover.png");
}

.no-svg .icon-social--pinterest.pseudo-class-hover:before {
  background-image: url("../images/png/icons/social/pinterest_hover.png");
}

.no-svg .icon-social--rss.pseudo-class-hover:before {
  background-image: url("../images/png/icons/social/rss_hover.png");
}

.no-svg .icon-social--skype.pseudo-class-hover:before {
  background-image: url("../images/png/icons/social/skype_hover.png");
}

.no-svg .icon-social--twitter.pseudo-class-hover:before {
  background-image: url("../images/png/icons/social/twitter_hover.png");
}

.no-svg .icon-social--youtube.pseudo-class-hover:before {
  background-image: url("../images/png/icons/social/youtube_hover.png");
}

.inpage-nav .inpage_nav__list-item.pseudo-class-hover {
  background: none;
  text-decoration: underline;
}

.inpage-nav .inpage_nav__list-item.pseudo-class-focus {
  background: #3e80ec !important;
}

.inpage-nav__navbar .inpage-nav__current.pseudo-class-hover {
  color: #fff;
}

.inpage-nav__navbar .inpage-nav__toggle.pseudo-class-hover,
.inpage-nav__navbar .inpage-nav__toggle.pseudo-class-active,
.inpage-nav__navbar .inpage-nav__toggle.pseudo-class-focus {
  background-color: #023066;
  text-decoration: none;
  color: #ffffff;
}

.inpage-nav__navbar .inpage-nav__list--navbar li .inpage_nav__list-item.pseudo-class-hover {
  background: none;
  text-decoration: underline;
}

.listing__item.pseudo-class-first-child {
  border-top: 1px solid #e2e2e2;
}

.listing__item.pseudo-class-hover a .listing__title,
.listing__item.pseudo-class-hover a.listing__title,
.listing__item.pseudo-class-active a .listing__title,
.listing__item.pseudo-class-active a.listing__title,
.listing__item.pseudo-class-focus a .listing__title,
.listing__item.pseudo-class-focus a.listing__title {
  text-decoration: underline;
  color: #313cfb;
}

.listing__item-link.pseudo-class-hover,
.listing__item-link.pseudo-class-active,
.listing__item-link.pseudo-class-focus {
  text-decoration: none;
}

.listing--short-spaced .listing__item.pseudo-class-first-child .listing__item-link {
  padding-top: 0 !important;
}

.listing--nostripe .listing__item.pseudo-class-first-child {
  border: none;
}

.listing--nostripe .listing__item.pseudo-class-first-child .listing__item-link {
  padding-top: 0;
}

.listing--nostripe .listing__item.pseudo-class-last-child .listing__item-link {
  padding-bottom: 0;
}

.listing--cta .listing__item.pseudo-class-hover .listing__title,
.listing--cta .listing__item.pseudo-class-active .listing__title,
.listing--cta .listing__item.pseudo-class-focus .listing__title {
  color: #ffffff;
}

.listing--title .listing__item.pseudo-class-hover a .listing__title,
.listing--title .listing__item.pseudo-class-active a .listing__title,
.listing--title .listing__item.pseudo-class-focus a .listing__title,
ul.listing--title .listing__item.pseudo-class-hover a .listing__title,
ul.listing--title .listing__item.pseudo-class-active a .listing__title,
ul.listing--title .listing__item.pseudo-class-focus a .listing__title {
  text-decoration: none;
}

.messages.pseudo-class-last-child {
  margin-bottom: 0;
}

.messages__list-item.pseudo-class-first-child,
.messages ul li.pseudo-class-first-child {
  margin-top: 0;
}

.meta__item.pseudo-class-last-child:after,
.label--meta.pseudo-class-last-child:after {
  display: none;
}

.page-header a.pseudo-class-hover:not(.breadcrumb__link) {
  color: #3e80ec;
}

.radio input[type="radio"].pseudo-class-checked + label {
  color: #fff;
  background-color: #004494;
}

.radio input[type="radio"].pseudo-class-checked + label:before {
  background-image: url("../images/svg/radio-checked.svg");
}

.radio input[type="radio"].pseudo-class-hover:not(checked) + label {
  color: #575757;
  border: #004494 solid 2px;
  background-color: #fff;
}

.radio input[type="radio"].pseudo-class-hover.pseudo-class-checked + label {
  color: #fff;
  border: #3e80ec solid 2px;
  background-color: #004494;
}

.no-svg .radio input[type="radio"].pseudo-class-checked + label {
  color: inherit;
  background: none;
}

.no-svg .radio input[type="radio"].pseudo-class-checked + label:before {
  display: none;
}

.rss-link a.pseudo-class-hover .rss-link__text,
.rss-link a.pseudo-class-active .rss-link__text,
.rss-link a.pseudo-class-focus .rss-link__text {
  text-decoration: none;
}

.section__group.pseudo-class-first-child {
  padding-top: 0;
}

.section__group.pseudo-class-last-child {
  padding-bottom: 0;
}

.section__group > *.pseudo-class-first-child {
  padding-top: 0;
  margin-top: 0;
}

.section__group > *.pseudo-class-last-child {
  margin-bottom: 0;
}

.site-menu__section.pseudo-class-last-child {
  border: none;
}

.site-switcher--header .site-switcher__list.pseudo-class-first-child {
  border-left: 1px solid #b3b4b5;
}

.site-switcher--footer .site-switcher__list.pseudo-class-first-child {
  border-left: none;
}

.splash-page__btn-language.pseudo-class-hover {
  color: #000000;
  background: #3e80ec;
}

.splash-page__btn-close.pseudo-class-hover {
  color: #ffffff;
}

.tags__item a.pseudo-class-hover,
.tags__item a.pseudo-class-active,
.tags__item a.pseudo-class-focus {
  text-decoration: underline;
}

.breadcrumb__link.pseudo-class-hover,
.breadcrumb__link.pseudo-class-active,
.breadcrumb__link.pseudo-class-focus {
  color: #fff;
}

.breadcrumb__link.pseudo-class-hover .breadcrumb__text,
.breadcrumb__link.pseudo-class-active .breadcrumb__text,
.breadcrumb__link.pseudo-class-focus .breadcrumb__text {
  text-decoration: underline;
}

.breadcrumb--collapsible .breadcrumb__btn-separator.pseudo-class-hover,
.breadcrumb--collapsible .breadcrumb__btn-separator.pseudo-class-active,
.breadcrumb--collapsible .breadcrumb__btn-separator.pseudo-class-focus {
  background: #fff;
  color: #004494;
}

.breadcrumb--collapsible .breadcrumb__btn-separator.pseudo-class-hover:after,
.breadcrumb--collapsible .breadcrumb__btn-separator.pseudo-class-active:after,
.breadcrumb--collapsible .breadcrumb__btn-separator.pseudo-class-focus:after {
  color: #004494;
}

.filters__close.pseudo-class-hover,
.filters__close.pseudo-class-active,
.filters__close.pseudo-class-focus {
  text-decoration: underline;
}

.lang-select-page--transparent select.lang-select-page__list.pseudo-class-hover,
.lang-select-page--transparent select.lang-select-page__list.pseudo-class-active {
  border: 0;
}

.lang-select-site .lang-select-site__link.pseudo-class-focus {
  border-color: #3e80ec;
}

.pager__btn.pseudo-class-hover,
.pager__btn.pseudo-class-focus,
.pager__btn.pseudo-class-active,
.pager__btn.pseudo-class-visited {
  color: #fff;
}