<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Next EUROPA Theme</title>
  <meta name="author" content="EC Europa">

  <link rel="stylesheet" href="../../../core/styles/core.css">

  <link rel="stylesheet" href="../styles/date-block.css">

  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
<div class="clearfix"> <!-- only required for the styleguide -->
  <div class="date-block">
    <span class="date-block__day-text">Monday</span>
    <span class="date-block__day">12</span>
    <span class="date-block__month">Oct</span>
  </div>
</div>


  <script src="/gitbook/plugins/gitbook-plugin-styleguide/iframeResizer.contentWindow.js"></script>
</body>
</html>
