<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Next EUROPA Theme</title>
  <meta name="author" content="EC Europa">
  <link rel="stylesheet" href="../../../../styles/europa.css">
</head>
<body>
  <div class="rss-link__wrapper">
  <div class="rss-link">
    <span class="rss-link__label">Get updates:</span>
    <a href="#">
      <span class="rss-link__icon icon-social icon-social--rss"></span>
      <span class="rss-link__text">RSS</span>
    </a>
  </div>
</div>
  <script src="../../../../scripts/europa.js"></script>
  <script src="../../../../gitbook/plugins/gitbook-plugin-styleguide/iframeResizer.contentWindow.js"></script>
</body>
</html>
