---
src:
  styles:
    - '../styles/_btn.scss'
---
<div class="container">
  <div class="row">
    <a href="#" class="btn btn-default">Link Button</a>
    <a href="http://ec.europa.eu" class="btn btn-default">External Link Button</a>
    <button class="btn btn-default">Button Element</button>
    <input type="button" class="btn btn-default" value="input[type='button']"/>
  </div>
  <div class="row">
    <a href="#" class="btn btn-primary">Link Button</a>
    <a href="http://ec.europa.eu" class="btn btn-primary">External Link Button</a>
    <button class="btn btn-primary">Button Element</button>
    <input type="button" class="btn btn-primary" value="input[type='button']"/>
  </div>
  <div class="row">
    <a href="#" class="btn btn-secondary">Link Button</a>
    <a href="http://ec.europa.eu" class="btn btn-secondary">External Link Button</a>
    <button class="btn btn-secondary">Button Element</button>
    <input type="button" class="btn btn-secondary" value="input[type='button']"/>
  </div>
  <div class="row">
    <a href="#" class="btn btn-ctn">Link Button</a>
    <a href="http://ec.europa.eu" class="btn btn-ctn">External Link Button</a>
    <button class="btn btn-ctn">Button Element</button>
    <input type="button" class="btn btn-ctn" value="input[type='button']"/>
  </div>
  <div class="row">
    <a href="#" class="btn btn-ctn--border">Link Button</a>
    <a href="http://ec.europa.eu" class="btn btn-ctn--border">External Link Button</a>
    <button class="btn btn-ctn--border">Button Element</button>
    <input type="button" class="btn btn-ctn--border" value="input[type='button']"/>
  </div>
  <div class="row"></div>
  <div class="row">
    <a href="#" class="btn btn-menu">Link Button</a>
    <a href="http://ec.europa.eu" class="btn btn-menu">External Link Button</a>
    <button class="btn btn-menu">Button Element</button>
    <input type="button" class="btn btn-menu" value="input[type='button']"/>
  </div>
</div>
