// Ec logo small (svg)
// Default EC logo.

// Component
// --------------------------------------------------
.logo {
  display: block;
  float: left;

  width: 140px;
  height: 70px;

  background: url('../images/svg/logo.svg') no-repeat;
}

// EC logo small (png)
// Ec logo without SVG.

.no-svg {
  .logo {
    background-image: url('../images/png/logo.png');
  }
}

// EC logo front (svg)

.front {
  .logo {
    float: none;

    width: 225px;
    height: 82px;
    margin: 16px auto 40px auto;

    background: url('../images/svg/logo--big.svg') center center no-repeat;
    background-size: 100%;
  }

  @include languages_logo('../images/svg/logo/logo--', '.svg');

  @include breakpoint(screen-xs-min) {
    .logo {
      width: 340px;
      height: 124px;
    }
  }

  @include breakpoint(screen-sm-min) {
    .logo {
      width: 450px;
      height: 164px;
    }
  }
}

@media print {
  .logo:before {
    content: url('../images/svg/logo--big.svg');
  }
}

// EC logo front (png)

.no-svg {
  .front {
    .logo {
      background-image: url('../images/png/logo--big.png');
      width: 378px;
      height: 193px;
    }

    @include languages_logo('../images/png/logo/logo--', '.png');
  }
}

// If the logo is linking to an external page do not show the external icon.
.site-header__logo {
  &:before,
  &:after {
    display: none !important;
  }
}
