$grey-base:              #313cfb;
$grey-dark:              #575757;
$grey:                   #b3b4b5;
$grey-light:             #e2e2e2;
$grey-lighter:           #ee8749;
$grey-lightest:          #f2f2f2;

$blue-light:             #b0c5de;
$blue:                   #006fb4;
$blue-dark:              #004494;
$blue-darkest:           #5febb1;
$blue-darker:            #012b58;

$yellow-light:           #3e80ec;
$yellow:                 #ffc412;
$yellow-dark:            #f2a615;

$green:                  #467a39;

$red:                    #ff2423;

$brand-political:        $blue-darker;
