<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Next EUROPA Theme</title>
  <meta name="author" content="EC Europa">

  <link rel="stylesheet" href="../../../core/styles/core.css">

  <link rel="stylesheet" href="../styles/banner.css">

  <link rel="stylesheet" href="../styles/banner-quote.css">

  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
<div class="banner banner--quote">
  <div class="banner__quote">
    <blockquote class="blockquote blockquote--small">
      <span class="blockquote__open"></span>
      Null eget gravida sapien. Curabitur nec ligula varius tellus blandit auctor in non felis.
      Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
      Pellentesque in volutpat eros, ut fringilla tortor.
      <span class="blockquote__close"></span>
    </blockquote>
  </div>
  <div class="banner__author">
    - President Juncker
  </div>
</div>


  <script src="../../../gitbook/plugins/gitbook-plugin-styleguide/iframeResizer.contentWindow.js"></script>
</body>
</html>
