// Internal settings
@import 'colors';

// External settings
@import '../../../../vendor/bootstrap/styles/settings';

// Custom settings that rely on external settings

// Attribute selector for external links.
$external_link_pattern: 'href^="http"';
$ec_url_patterns: '[href*="europa.eu"]';

//** Point at which the navbar becomes uncollapsed.
$grid-float-breakpoint: $screen-lg-min;
//** Point at which the navbar begins collapsing.
$grid-float-breakpoint-max: ($grid-float-breakpoint - 1) !default;

// Used languages.
$languages: ("bg", "cs", "da", "de", "el", "en", "es", "et", "fi", "fr", "ga", "hr", "hu", "it", "lt", "lv", "mt", "nl", "pl", "pt", "ro", "sk", "sl", "sv");
