// Video Banner

.banner--video {
  @extend .row;
}

.banner__video {
  & .file {
    padding: 0;
    margin-bottom: 0;
    max-width: 100%;
  }
  & iframe {
    width: 100%;
    display: block;
  }
}
