<!DOCTYPE html>
<!--[if IE 8 ]>
  <html class="no-js ie8" lang="en" dir="ltr"
  xmlns:content="http://purl.org/rss/1.0/modules/content/"
  xmlns:dc="http://purl.org/dc/terms/"
  xmlns:foaf="http://xmlns.com/foaf/0.1/"
  xmlns:og="http://ogp.me/ns#"
  xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
  xmlns:sioc="http://rdfs.org/sioc/ns#"
  xmlns:sioct="http://rdfs.org/sioc/types#"
  xmlns:skos="http://www.w3.org/2004/02/skos/core#"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema#"
  xmlns:article="http://ogp.me/ns/article#"
  xmlns:book="http://ogp.me/ns/book#"
  xmlns:profile="http://ogp.me/ns/profile#"
  xmlns:video="http://ogp.me/ns/video#"
  xmlns:product="http://ogp.me/ns/product#">
<![endif]-->
<!--[if (gt IE 8)|!(IE)]><!-->
<html class="no-js" lang="en" dir="ltr" xmlns:content="http://purl.org/rss/1.0/modules/content/" xmlns:dc="http://purl.org/dc/terms/" xmlns:foaf="http://xmlns.com/foaf/0.1/" xmlns:og="http://ogp.me/ns#" xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
xmlns:sioc="http://rdfs.org/sioc/ns#" xmlns:sioct="http://rdfs.org/sioc/types#" xmlns:skos="http://www.w3.org/2004/02/skos/core#" xmlns:xsd="http://www.w3.org/2001/XMLSchema#" xmlns:article="http://ogp.me/ns/article#" xmlns:book="http://ogp.me/ns/book#"
xmlns:profile="http://ogp.me/ns/profile#" xmlns:video="http://ogp.me/ns/video#" xmlns:product="http://ogp.me/ns/product#">
<!--<![endif]-->
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="icon" type="image/png" sizes="96x96" href="/sites/beta/themes/europa/images/png/favicon/favicon-96x96.png" />
<link rel="icon" type="image/png" sizes="16x16" href="/sites/beta/themes/europa/images/png/favicon/favicon-16x16.png" />
<link rel="icon" type="image/png" sizes="192x192" href="/sites/beta/themes/europa/images/png/favicon/android-chrome-192x192.png" />
<link rel="icon" type="image/png" sizes="32x32" href="/sites/beta/themes/europa/images/png/favicon/favicon-32x32.png" />
<link rel="apple-touch-icon" sizes="180x180" href="/sites/beta/themes/europa/images/png/favicon/apple-touch-icon-180x180.png" />
<meta name="msapplication-TileColor" content="#034ea1" />
<meta name="msapplication-TileImage" content="/sites/beta/themes/europa/images/png/favicon/mstile-144x144.png" />
<meta name="msapplication-wide310x150logo" content="/sites/beta/themes/europa/images/png/favicon/mstile-310x150.png" />
<meta name="msapplication-square310x310logo" content="/sites/beta/themes/europa/images/png/favicon/mstile-310x310.png" />
<meta name="msapplication-square150x150logo" content="/sites/beta/themes/europa/images/png/favicon/mstile-150x150.png" />
<meta name="msapplication-square70x70logo" content="/sites/beta/themes/europa/images/png/favicon/mstile-70x70.png" />
<meta name="theme-color" content="#034ea1" />
<link rel="apple-touch-icon" sizes="152x152" href="/sites/beta/themes/europa/images/png/favicon/apple-touch-icon-152x152.png" />
<link rel="apple-touch-icon" sizes="120x120" href="/sites/beta/themes/europa/images/png/favicon/apple-touch-icon-120x120.png" />
<link rel="shortcut icon" href="http://beta.ec.europa.eu/sites/beta/themes/information/favicon.ico" type="image/vnd.microsoft.icon" />
<link rel="apple-touch-icon" sizes="57x57" href="/sites/beta/themes/europa/images/png/favicon/apple-touch-icon-57x57.png" />
<link rel="apple-touch-icon" sizes="60x60" href="/sites/beta/themes/europa/images/png/favicon/apple-touch-icon-60x60.png" />
<link rel="apple-touch-icon" sizes="114x114" href="/sites/beta/themes/europa/images/png/favicon/apple-touch-icon-114x114.png" />
<link rel="apple-touch-icon" sizes="144x144" href="/sites/beta/themes/europa/images/png/favicon/apple-touch-icon-144x144.png" />
<meta name="generator" content="Drupal 7 (http://drupal.org)" />
<link rel="canonical" href="http://beta.ec.europa.eu/index_en" />
<link rel="shortlink" href="http://beta.ec.europa.eu/index_en" />
<meta property="og:site_name" content="European Commission Beta" />
<meta property="og:type" content="website" />
<meta property="og:url" content="http://beta.ec.europa.eu/index_en" />
<meta property="og:title" content="European Commission Beta" />
<meta property="og:description" content="Information and services" />
<title>European Commission Beta | Information and services</title>
<style>
  @import url("http://beta.ec.europa.eu/modules/system/system.base.css?nyow0p");
  @import url("http://beta.ec.europa.eu/profiles/multisite_drupal_standard/modules/features/cce_basic_config/cce_basic_config.css?nyow0p");
  @import url("http://beta.ec.europa.eu/profiles/multisite_drupal_standard/modules/contrib/ckeditor_lite/css/ckeditor_lite.all.css?nyow0p");
  @import url("http://beta.ec.europa.eu/profiles/multisite_drupal_standard/modules/contrib/date/date_popup/themes/datepicker.1.7.css?nyow0p");
  @import url("http://beta.ec.europa.eu/profiles/multisite_drupal_standard/modules/custom/ecas/ecas_import_users/css/ecas_import_users.css?nyow0p");
  @import url("http://beta.ec.europa.eu/modules/field/theme/field.css?nyow0p");
  @import url("http://beta.ec.europa.eu/sites/beta/modules/contrib/picture/picture_wysiwyg.css?nyow0p");
  @import url("http://beta.ec.europa.eu/profiles/multisite_drupal_standard/modules/contrib/views/css/views.css?nyow0p");
  @import url("http://beta.ec.europa.eu/profiles/multisite_drupal_standard/modules/contrib/ctools/css/ctools.css?nyow0p");
  @import url("http://beta.ec.europa.eu/profiles/multisite_drupal_standard/modules/contrib/rate/rate.css?nyow0p");
  @import url("http://beta.ec.europa.eu/profiles/multisite_drupal_standard/modules/contrib/tagclouds/tagclouds.css?nyow0p");
  @import url("http://beta.ec.europa.eu/profiles/multisite_drupal_standard/modules/contrib/video/css/video.css?nyow0p");
  @import url("http://beta.ec.europa.eu/profiles/multisite_drupal_standard/modules/contrib/print/print_ui/css/print_ui.theme.css?nyow0p");
  @import url("http://beta.ec.europa.eu/sites/beta/modules/features/custom/dt_social_network_links/css/dt_social_network_links.css?nyow0p");
  @import url("http://beta.ec.europa.eu/profiles/multisite_drupal_standard/modules/custom/multisite_drupal_toolbox/icons/style.css?nyow0p");
  @import url("http://beta.ec.europa.eu/profiles/multisite_drupal_standard/modules/contrib/field_group/field_group.css?nyow0p");
  @import url("http://beta.ec.europa.eu/sites/beta/files/social_network_icons/social_network_icons.css?nyow0p");
  @import url("core/styles/theme.css");
  @import url("http://beta.ec.europa.eu/sites/beta/themes/information/css/style.css?nyow0p");
</style>
<!-- HTML5 element support for IE6-8 -->
<!--[if lte IE 9]>
    <script src="/sites/beta/themes/europa/js/libraries/matchMedia/matchMedia.js"></script>
    <script src="/sites/beta/themes/europa/js/libraries/matchMedia/matchMedia.addListener.js"></script>
  <![endif]-->
<!--[if lt IE 9]>
    <script src="/sites/beta/themes/europa/js/libraries/html5shiv.min.js"></script>
    <script src="/sites/beta/themes/europa/js/libraries/respond.min.js"></script>
  <![endif]-->
<script src="http://beta.ec.europa.eu/profiles/multisite_drupal_standard/modules/contrib/jquery_update/replace/jquery/1.10/jquery.min.js?v=1.10.2"></script>
<script src="http://beta.ec.europa.eu/misc/jquery.once.js?v=1.2"></script>
<script src="http://beta.ec.europa.eu/misc/drupal.js?nyow0p"></script>
<script src="http://beta.ec.europa.eu/profiles/multisite_drupal_standard/modules/contrib/jquery_update/replace/ui/external/jquery.cookie.js?v=67fb34f6a866c40d0570"></script>
<script src="http://beta.ec.europa.eu/profiles/multisite_drupal_standard/modules/contrib/jquery_update/replace/misc/jquery.form.min.js?v=2.69"></script>
<script src="http://beta.ec.europa.eu/misc/ajax.js?v=7.39"></script>
<script src="http://beta.ec.europa.eu/profiles/multisite_drupal_standard/modules/contrib/jquery_update/js/jquery_update.js?v=0.0.1"></script>
<script>
  document.createElement("picture");
</script>
<script src="http://beta.ec.europa.eu/sites/beta/modules/features/custom/dt_info_homepage/dt_info_homepage.js?nyow0p"></script>
<script src="http://beta.ec.europa.eu/sites/beta/modules/features/custom/dt_site_menu/dt_site_menu.js?nyow0p"></script>
<script src="http://beta.ec.europa.eu/profiles/multisite_drupal_standard/modules/custom/language_selector_page/js/language_selector_page.js?nyow0p"></script>
<script src="http://beta.ec.europa.eu/profiles/multisite_drupal_standard/modules/contrib/video/js/video.js?nyow0p"></script>
<script src="http://beta.ec.europa.eu/sites/beta/modules/custom/Next EUROPA_feedback/Next EUROPA_feedback.js?nyow0p"></script>
<script src="http://beta.ec.europa.eu/profiles/multisite_drupal_standard/themes/bootstrap/js/misc/_progress.js?v=7.39"></script>
<script src="http://beta.ec.europa.eu/sites/beta/themes/europa/js/components/lang-select-site.js?nyow0p"></script>
<script src="http://beta.ec.europa.eu/profiles/multisite_drupal_standard/modules/contrib/field_group/field_group.js?nyow0p"></script>
<script src="http://beta.ec.europa.eu/sites/beta/themes/europa/js/libraries/modernizr/modernizr.js?nyow0p"></script>
<script src="http://beta.ec.europa.eu/sites/beta/themes/europa/js/libraries/enquire.min.js?nyow0p"></script>
<script src="http://beta.ec.europa.eu/sites/beta/themes/europa/js/libraries/velocity.min.js?nyow0p"></script>
<script src="http://beta.ec.europa.eu/sites/beta/themes/europa/js/misc/ajax.js?nyow0p"></script>
<script src="http://beta.ec.europa.eu/sites/beta/themes/europa/js/libraries/jquery.equalheight.min.js?nyow0p"></script>
<script src="http://beta.ec.europa.eu/sites/beta/themes/europa/js/europa.js?nyow0p"></script>
<script>
  jQuery.extend(Drupal.settings, {
    "basePath": "\/",
    "pathPrefix": "",
    "ajaxPageState": {
      "theme": "information",
      "theme_token": "tMEbE5ssIfKlMDHXVTPrjCdjUZLmGyiBwnqlzuI8YOY",
      "jquery_version": "1.10",
      "js": {
        "sites\/beta\/modules\/contrib\/picture\/picturefill2\/picturefill.min.js": 1,
        "sites\/beta\/modules\/contrib\/picture\/picture.min.js": 1,
        "profiles\/multisite_drupal_standard\/themes\/bootstrap\/js\/bootstrap.js": 1,
        "profiles\/multisite_drupal_standard\/modules\/contrib\/jquery_update\/replace\/jquery\/1.10\/jquery.min.js": 1,
        "misc\/jquery.once.js": 1,
        "misc\/drupal.js": 1,
        "profiles\/multisite_drupal_standard\/modules\/contrib\/jquery_update\/replace\/ui\/external\/jquery.cookie.js": 1,
        "profiles\/multisite_drupal_standard\/modules\/contrib\/jquery_update\/replace\/misc\/jquery.form.min.js": 1,
        "misc\/ajax.js": 1,
        "profiles\/multisite_drupal_standard\/modules\/contrib\/jquery_update\/js\/jquery_update.js": 1,
        "0": 1,
        "sites\/beta\/modules\/features\/custom\/dt_info_homepage\/dt_info_homepage.js": 1,
        "sites\/beta\/modules\/features\/custom\/dt_site_menu\/dt_site_menu.js": 1,
        "profiles\/multisite_drupal_standard\/modules\/custom\/language_selector_page\/js\/language_selector_page.js": 1,
        "profiles\/multisite_drupal_standard\/modules\/contrib\/video\/js\/video.js": 1,
        "sites\/beta\/modules\/custom\/Next EUROPA_feedback\/Next EUROPA_feedback.js": 1,
        "profiles\/multisite_drupal_standard\/themes\/bootstrap\/js\/misc\/_progress.js": 1,
        "sites\/all\/modules\/fpfis-sysadmin\/piwik\/piwik.js": 1,
        "1": 1,
        "sites\/beta\/themes\/europa\/js\/components\/lang-select-site.js": 1,
        "profiles\/multisite_drupal_standard\/modules\/contrib\/field_group\/field_group.js": 1,
        "sites\/beta\/themes\/europa\/bootstrap-sass\/js\/bootstrap\/affix.js": 1,
        "sites\/beta\/themes\/europa\/bootstrap-sass\/js\/bootstrap\/collapse.js": 1,
        "sites\/beta\/themes\/europa\/bootstrap-sass\/js\/bootstrap\/dropdown.js": 1,
        "sites\/beta\/themes\/europa\/bootstrap-sass\/js\/bootstrap\/tooltip.js": 1,
        "sites\/beta\/themes\/europa\/bootstrap-sass\/js\/bootstrap\/popover.js": 1,
        "sites\/beta\/themes\/europa\/bootstrap-sass\/js\/bootstrap\/scrollspy.js": 1,
        "sites\/beta\/themes\/europa\/bootstrap-sass\/js\/bootstrap\/tab.js": 1,
        "sites\/beta\/themes\/europa\/bootstrap-sass\/js\/bootstrap\/transition.js": 1,
        "sites\/beta\/themes\/europa\/js\/libraries\/modernizr\/modernizr.js": 1,
        "sites\/beta\/themes\/europa\/js\/libraries\/enquire.min.js": 1,
        "sites\/beta\/themes\/europa\/js\/libraries\/velocity.min.js": 1,
        "sites\/beta\/themes\/europa\/js\/misc\/ajax.js": 1,
        "sites\/beta\/themes\/europa\/js\/libraries\/jquery.equalheight.min.js": 1,
        "sites\/beta\/themes\/europa\/js\/europa.js": 1
      },
      "css": {
        "modules\/system\/system.base.css": 1,
        "profiles\/multisite_drupal_standard\/modules\/features\/cce_basic_config\/cce_basic_config.css": 1,
        "profiles\/multisite_drupal_standard\/modules\/contrib\/ckeditor_lite\/css\/ckeditor_lite.all.css": 1,
        "profiles\/multisite_drupal_standard\/modules\/contrib\/date\/date_popup\/themes\/datepicker.1.7.css": 1,
        "profiles\/multisite_drupal_standard\/modules\/custom\/ecas\/ecas_import_users\/css\/ecas_import_users.css": 1,
        "modules\/field\/theme\/field.css": 1,
        "sites\/beta\/modules\/contrib\/picture\/picture_wysiwyg.css": 1,
        "profiles\/multisite_drupal_standard\/modules\/contrib\/views\/css\/views.css": 1,
        "profiles\/multisite_drupal_standard\/modules\/contrib\/ctools\/css\/ctools.css": 1,
        "profiles\/multisite_drupal_standard\/modules\/contrib\/rate\/rate.css": 1,
        "profiles\/multisite_drupal_standard\/modules\/contrib\/tagclouds\/tagclouds.css": 1,
        "profiles\/multisite_drupal_standard\/modules\/contrib\/video\/css\/video.css": 1,
        "profiles\/multisite_drupal_standard\/modules\/contrib\/print\/print_ui\/css\/print_ui.theme.css": 1,
        "sites\/beta\/modules\/features\/custom\/dt_social_network_links\/css\/dt_social_network_links.css": 1,
        "profiles\/multisite_drupal_standard\/modules\/custom\/multisite_drupal_toolbox\/icons\/style.css": 1,
        "profiles\/multisite_drupal_standard\/modules\/contrib\/field_group\/field_group.css": 1,
        "public:\/\/social_network_icons\/social_network_icons.css": 1,
        "sites\/beta\/themes\/europa\/css\/style-sass.css": 1,
        "sites\/beta\/themes\/information\/css\/style.css": 1
      }
    },
    "field_group": {
      "meta_wrapper": "teaser",
      "html-element": "default"
    },
    "ajax": {
      "edit-submit": {
        "callback": "_Next EUROPA_feedback_send_webtools",
        "event": "mousedown",
        "keypress": true,
        "prevent": "click",
        "url": "\/system\/ajax_en",
        "submit": {
          "_triggering_element_name": "op",
          "_triggering_element_value": "Send"
        }
      }
    },
    "urlIsAjaxTrusted": {
      "\/system\/ajax_en": true,
      "http:\/\/ec.europa.eu\/geninfo\/query\/resultaction.jsp": true
    },
    "piwik": {
      "trackMailto": 1
    },
    "password": {
      "strengthTitle": "Password compliance:"
    },
    "type": "setting",
    "bootstrap": {
      "anchorsFix": "1",
      "anchorsSmoothScrolling": "1",
      "popoverEnabled": "1",
      "popoverOptions": {
        "animation": 1,
        "html": 0,
        "placement": "right",
        "selector": "",
        "trigger": "click",
        "title": "",
        "content": "",
        "delay": 0,
        "container": "body"
      },
      "tooltipEnabled": "0",
      "tooltipOptions": {
        "animation": 1,
        "html": 0,
        "placement": "auto left",
        "selector": "",
        "trigger": "hover focus",
        "delay": 0,
        "container": "body"
      }
    }
  });
</script>
</head>

<body class="html front not-logged-in no-sidebars page-node page-node- page-node-730 node-type-info-homepage i18n-en language-en ne-bootstrap-1col-stacked">
  <div id="skip-link">
    <a href="#main-content" class="element-invisible element-focusable">Skip to main content</a>
  </div>
  <section class="notification">
    <div class="container-fluid">
      <div class="notification__content">
        <div class="notification__text">
          <p>
            This is a test site for a new design and navigation for the Commission website. It does not replace <a href="http://ec.europa.eu">ec.europa.eu</a>. </p>
        </div>
        <a class="notification__btn" href="/node/1108_en">More about the beta</a>
      </div>
    </div>
  </section>

  <section class="header-top">
    <div class="container-fluid">
      <div class="region region-header-top">
        <section id="block-dt-core-dt-header-site-tab-switcher" class="block block-dt-core clearfix">


          <div class="block__content">
            <span class='site-switcher site-switcher--header'>
              <ul class='site-switcher__list'>
                <li class='site-switcher__option'><a href='http://ec.europa.eu/index_en.htm'>Political priorities</a></li>
                <li class='site-switcher__option is-selected'><a href='https://beta.ec.europa.eu/index_en'>Information and services</a></li>
              </ul>
            </span>
          </div>

        </section>
        <!-- /.block -->
      </div>
    </div>
  </section>

  <header class="site-header" role="banner">
    <div class="container-fluid">
      <a href="/" class="logo site-header__logo" title="Home - European Commission Beta"></a>
      <p class="site-slogan">Information and services</p>

      <section class="top-bar" aria-label="Site tools">
        <div>
          <div class="top-bar__wrapper">
            <h1 class="sr-only">European Commission Beta</h1>
            <h2 class="sr-only">Classes</h2>
            <div class="region region-header">
              <section id="block-language-selector-site-language-selector-site" class="block block-language-selector-site lang-select-site lang-select-site clearfix">


                <div class="block__content">
                  <a href="/splash_en?destination=node/730" class="lang-select-site__link">
                    <span class="lang-select-site__label">English</span>
                    <span class="lang-select-site__code">
                      <span class="icon icon--language lang-select-site__icon"></span>
                      <span class="lang-select-site__code-text">en</span>
                    </span>
                  </a>
                  <div class="splash-page splash-page--overlay"></div>
                </div>

              </section>
              <!-- /.block -->
              <section id="block-Next EUROPA-europa-search-Next EUROPA-europa-search-form" class="block block-Next EUROPA-europa-search clearfix">


                <div class="block__content">
                  <form class="search-form" action="http://ec.europa.eu/geninfo/query/resultaction.jsp" method="get" id="Next EUROPA-europa-search-search-form" accept-charset="UTF-8">
                    <div>
                      <div class="form-type-textfield form-item-QueryText form-item">
                        <input class="search-form__textfield form-control form-text" type="text" id="edit-querytext" name="QueryText" value="" size="60" maxlength="128" />
                      </div>
                      <button class="btn-search search-form__btn btn btn-primary form-submit" tabindex="-1" disabled="disabled" id="edit-europa-search-submit" name="op" value="Search" type="submit">Search</button>
                      <input type="hidden" name="swlang" value="en" />
                      <input type="hidden" name="form_build_id" value="form-0OfFBbs2JgwuRTmse3S3HAjt2VEe--WwNJSfbyMhs7o" />
                      <input type="hidden" name="form_id" value="Next EUROPA_europa_search_search_form" />
                    </div>
                  </form>
                </div>

              </section>
              <!-- /.block -->
            </div>
          </div>
        </div>
      </section>
    </div>
  </header>



  <section class="main-content">
    <!-- Generic sections -->
    <div class="container-fluid">

    </div>

    <div class="region region-content">
      <section id="block-system-main" class="block block-system clearfix">


        <div class="block__content">

          <div about="/index_en" typeof="sioc:Item foaf:Document" class="node node-info-homepage view-mode-full">
            <!-- Page Header -->
            <div class="page-header">
              <nav class="page-navigation" role="navigation">
                <div class="container-fluid">
                  <div class="region region-header-bottom">
                    <section id="block-bean-information-site-menu" class="block block-bean clearfix">


                      <div class="block__content">
                        <div class="section__group section__group--highlight-yellow section__group--full-width site-menu">
                          <div>
                            <div class="site-menu__section">
                              <div class="row">
                                <div class="col-md-6">
                                  <div class="listing__wrapper listing__wrapper--default listing--teaser__wrapper">
                                    <div class="listing listing--no-border listing--short-spaced listing--teaser">
                                      <div class="listing__item">
                                        <div about="/business-economy-euro_en" typeof="sioc:Item foaf:Document" class="node node-class node-teaser view-mode-teaser">
                                          <a href="/business-economy-euro_en" class="listing__item-link">
                                            <div class="listing__column-main column-main ">
                                              <h3 class="listing__title">Business, Economy, Euro</h3>
                                              <p>EU economy, the euro, and practical information for EU businesses and entrepreneurs.</p>
                                            </div>
                                          </a>
                                        </div>


                                        <!-- Needed to activate display suite support on forms -->
                                      </div>
                                      <div class="listing__item">
                                        <div about="/live-work-travel_en" typeof="sioc:Item foaf:Document" class="node node-class node-teaser view-mode-teaser">
                                          <a href="/live-work-travel_en" class="listing__item-link">
                                            <div class="listing__column-main column-main ">
                                              <h3 class="listing__title">Live, Work, Travel in EU</h3>
                                              <p>Advice for EU citizens on living, working or travelling in the EU, and on visas and immigration for non-EU citizens.</p>
                                            </div>
                                          </a>
                                        </div>


                                        <!-- Needed to activate display suite support on forms -->
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-md-6">
                                  <div class="listing__wrapper listing__wrapper--default listing--title__wrapper">
                                    <ul class="listing listing--no-border listing--title">
                                      <li class="listing__item">
                                        <a href="/law_en" class="listing__item-link">
                                          <h3 class="listing__title">Law</h3>
                                        </a>

                                        <!-- Needed to activate display suite support on forms -->
                                      </li>
                                      <li class="listing__item">
                                        <a href="/strategy_en" class="listing__item-link">
                                          <h3 class="listing__title">Strategy</h3>
                                        </a>

                                        <!-- Needed to activate display suite support on forms -->
                                      </li>
                                      <li class="listing__item">
                                        <a href="/about-the-eu_en" class="listing__item-link">
                                          <h3 class="listing__title">About the European Union</h3>
                                        </a>

                                        <!-- Needed to activate display suite support on forms -->
                                      </li>
                                      <li class="listing__item">
                                        <a href="/funding_en" class="listing__item-link">
                                          <h3 class="listing__title">Funding, Tenders</h3>
                                        </a>

                                        <!-- Needed to activate display suite support on forms -->
                                      </li>
                                      <li class="listing__item">
                                        <a href="/research_en" class="listing__item-link">
                                          <h3 class="listing__title">Research and innovation</h3>
                                        </a>

                                        <!-- Needed to activate display suite support on forms -->
                                      </li>
                                      <li class="listing__item">
                                        <a href="/regional-urban_en" class="listing__item-link">
                                          <h3 class="listing__title">EU regional and urban development</h3>
                                        </a>

                                        <!-- Needed to activate display suite support on forms -->
                                      </li>
                                    </ul>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="site-menu__section">
                              <div class="row">
                                <div class="col-md-6">
                                  <div class='listing listing--title listing--no-border'>
                                    <div class="field field--field-site-menu-third ">
                                      <div class="field__items">
                                        <div class="listing__item"><a href="http://beta.ec.europa.eu/node/88/_en" class="listing__title">Environment</a></div>
                                        <div class="listing__item"><a href="http://beta.ec.europa.eu/node/56/_en" class="listing__title">Education</a></div>
                                        <div class="listing__item"><a href="http://beta.ec.europa.eu/node/43/_en" class="listing__title">Aid, Fundamental rights</a></div>
                                        <div class="listing__item"><a href="http://beta.ec.europa.eu/node/20/_en" class="listing__title">Food, Farming</a></div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="field field--topics-atoz ">
                                    <div class="field__items">
                                      <p><a class="btn btn-ctn" href="/topics">Topics A-Z</a></p>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-md-6">
                                  <div class='listing listing--title listing--no-border'>
                                    <div class="listing__item"><a href="http://beta.ec.europa.eu/announcements_en" class="listing__title">News</a></div>
                                    <div class="listing__item"><a href="http://beta.ec.europa.eu/node/99/_en" class="listing__title">Publications</a></div>
                                    <div class="listing__item"><a href="http://beta.ec.europa.eu/events_en" class="listing__title">Events</a></div>
                                    <div class="listing__item"><a href="http://beta.ec.europa.eu/statistics_en" class="listing__title">Statistics</a></div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="site-menu__section">
                              <div class="row">
                                <div class="col-md-6">
                                  <div class='listing listing--title listing--no-border'>
                                    <div class="field field--field-site-menu-fifth ">
                                      <div class="field__items">
                                        <div class="listing__item"><a href="http://beta.ec.europa.eu/node/34/_en" class="listing__title">Jobs at the European Commission</a></div>
                                        <div class="listing__item"><a href="http://beta.ec.europa.eu/node/1058/_en" class="listing__title">Contact</a></div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-md-6">
                                  <div class="field field--field-site-menu-sixth ">
                                    <div class="field__items"><a href="http://ec.europa.eu/index_en.htm" class="btn btn-primary">The European Commission and its priorities</a></div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                    </section>
                    <!-- /.block -->
                  </div>
                </div>
              </nav>
            </div>
            <div class="page-content">
              <div class="container-fluid">
                <div class="row">

                  <a id="main-content" tabindex="-1"></a>
                  <section class="section col-md-12 ">
                    <div class="section__group">
                      <div class="listing__wrapper listing__wrapper--row-two equal-height listing--teaser__wrapper">
                        <div class="listing listing--title-medium listing--no-border listing--teaser">
                          <div class="listing__item">
                            <div about="/business-economy-euro_en" typeof="sioc:Item foaf:Document" class="node node-class node-teaser view-mode-teaser">
                              <a href="/business-economy-euro_en" class="listing__item-link">
                                <div class="listing__column-main column-main ">
                                  <h3 class="listing__title">Business, Economy, Euro</h3>
                                  <p>EU economy, the euro, and practical information for EU businesses and entrepreneurs.</p>
                                </div>
                              </a>
                            </div>


                            <!-- Needed to activate display suite support on forms -->
                          </div>
                          <div class="listing__item">
                            <div about="/live-work-travel_en" typeof="sioc:Item foaf:Document" class="node node-class node-teaser view-mode-teaser">
                              <a href="/live-work-travel_en" class="listing__item-link">
                                <div class="listing__column-main column-main ">
                                  <h3 class="listing__title">Live, Work, Travel in EU</h3>
                                  <p>Advice for EU citizens on living, working or travelling in the EU, and on visas and immigration for non-EU citizens.</p>
                                </div>
                              </a>
                            </div>


                            <!-- Needed to activate display suite support on forms -->
                          </div>
                        </div>
                      </div>
                      <div class="listing__wrapper listing__wrapper--two-columns equal-height listing--teaser__wrapper">
                        <div class="listing listing--title-medium listing--teaser">
                          <div class="listing__item">
                            <div about="/law_en" typeof="sioc:Item foaf:Document" class="node node-class node-teaser view-mode-teaser">
                              <a href="/law_en" class="listing__item-link">
                                <div class="listing__column-main column-main ">
                                  <h3 class="listing__title">Law</h3>
                                  <p>EU law and court judgments, national implementation of EU law, infringements, fraud, data protection and public consultations.</p>
                                </div>
                              </a>
                            </div>


                            <!-- Needed to activate display suite support on forms -->
                          </div>
                          <div class="listing__item">
                            <div about="/about-the-eu_en" typeof="sioc:Item foaf:Document" class="node node-class node-teaser view-mode-teaser">
                              <a href="/about-the-eu_en" class="listing__item-link">
                                <div class="listing__column-main column-main ">
                                  <h3 class="listing__title">About the European Union</h3>
                                  <p>The EU, its institutions, agencies and other specialised bodies.</p>
                                </div>
                              </a>
                            </div>


                            <!-- Needed to activate display suite support on forms -->
                          </div>
                          <div class="listing__item">
                            <div about="/strategy_en" typeof="sioc:Item foaf:Document" class="node node-basic-page node-teaser view-mode-teaser">
                              <a href="/strategy_en" class="listing__item-link">
                                <div class="listing__column-main column-main ">
                                  <h3 class="listing__title">Strategy</h3>
                                  <p>How and why the EU develops its strategy, the role of strategy in setting priorities and the implementation of strategy through EU policy.</p>
                                </div>
                              </a>
                            </div>


                            <!-- Needed to activate display suite support on forms -->
                          </div>
                        </div>
                        <div class="listing listing--title-medium listing--teaser">
                          <div class="listing__item">
                            <div about="/funding_en" typeof="sioc:Item foaf:Document" class="node node-class node-teaser view-mode-teaser">
                              <a href="/funding_en" class="listing__item-link">
                                <div class="listing__column-main column-main ">
                                  <h3 class="listing__title">Funding, Tenders</h3>
                                  <p>EU funding, grants and tenders, and guidance for applicants.</p>
                                </div>
                              </a>
                            </div>


                            <!-- Needed to activate display suite support on forms -->
                          </div>
                          <div class="listing__item">
                            <div about="/research_en" typeof="sioc:Item foaf:Document" class="node node-class node-teaser view-mode-teaser">
                              <a href="/research_en" class="listing__item-link">
                                <div class="listing__column-main column-main ">
                                  <h3 class="listing__title">Research and innovation</h3>
                                  <p>Research results, partners, and EU action to promote innovation.</p>
                                </div>
                              </a>
                            </div>


                            <!-- Needed to activate display suite support on forms -->
                          </div>
                          <div class="listing__item">
                            <div about="/regional-urban_en" typeof="sioc:Item foaf:Document" class="node node-class node-teaser view-mode-teaser">
                              <a href="/regional-urban_en" class="listing__item-link">
                                <div class="listing__column-main column-main ">
                                  <h3 class="listing__title">EU regional and urban development</h3>
                                  <p>Supporting job creation, business competitiveness, economic growth and sustainable development.</p>
                                </div>
                              </a>
                            </div>


                            <!-- Needed to activate display suite support on forms -->
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="section__group section__group--full-width section__group--highlight-grey">
                      <div class="listing__wrapper listing__wrapper--two-columns equal-height listing--teaser__wrapper">
                        <div class="listing listing--title-medium listing--teaser">
                          <div class="listing__item">
                            <div about="/energy-climate-change-environment_en" typeof="sioc:Item foaf:Document" class="node node-class node-teaser view-mode-teaser">
                              <a href="/energy-climate-change-environment_en" class="listing__item-link">
                                <div class="listing__column-main column-main ">
                                  <h3 class="listing__title">Energy, Climate change, Environment</h3>
                                  <p>Environmental protection, climate action and clean energy.</p>
                                </div>
                              </a>
                            </div>


                            <!-- Needed to activate display suite support on forms -->
                          </div>
                          <div class="listing__item">
                            <div about="/education_en" typeof="sioc:Item foaf:Document" class="node node-class node-teaser view-mode-teaser">
                              <a href="/education_en" class="listing__item-link">
                                <div class="listing__column-main column-main ">
                                  <h3 class="listing__title">Education</h3>
                                  <p>Education and training opportunities in the EU and what the EU is doing on schools, youth, higher education, adult learning and vocational training.</p>
                                </div>
                              </a>
                            </div>


                            <!-- Needed to activate display suite support on forms -->
                          </div>
                        </div>
                        <div class="listing listing--title-medium listing--teaser">
                          <div class="listing__item">
                            <div about="/aid-rights_en" typeof="sioc:Item foaf:Document" class="node node-class node-teaser view-mode-teaser">
                              <a href="/aid-rights_en" class="listing__item-link">
                                <div class="listing__column-main column-main ">
                                  <h3 class="listing__title">Aid, Fundamental rights</h3>
                                  <p>Fundamental rights, development and humanitarian aid - search by region or sector, and become a partner organisation.</p>
                                </div>
                              </a>
                            </div>


                            <!-- Needed to activate display suite support on forms -->
                          </div>
                          <div class="listing__item">
                            <div about="/food-farming_en" typeof="sioc:Item foaf:Document" class="node node-class node-teaser view-mode-teaser">
                              <a href="/food-farming_en" class="listing__item-link">
                                <div class="listing__column-main column-main ">
                                  <h3 class="listing__title">Food, Farming</h3>
                                  <p>Food protection and safety, animal welfare, organic farming, forestry, plant health, food waste, responsible agencies and authorities.</p>
                                </div>
                              </a>
                            </div>


                            <!-- Needed to activate display suite support on forms -->
                          </div>
                        </div>
                      </div>
                      <div>
                        <div class="btn--no-margin-bottom pull-right">
                          <p><a class="btn btn-ctn" href="/topics">Topics A-Z</a></p>
                        </div>
                      </div>
                    </div>
                    <div class="section__group">
                      <div class="listing__wrapper listing__wrapper--row-three listing--teaser__wrapper">
                        <div class="listing listing--cta listing--title-medium equal-height listing--teaser">
                          <div class="listing__item">
                            <div about="/events_en" typeof="sioc:Item foaf:Document" class="node node-class node-teaser view-mode-teaser">
                              <a href="/events_en" class="listing__item-link">
                                <div class="listing__column-main column-main ">
                                  <h3 class="listing__title">Events</h3>
                                  <p>Upcoming events organised by the European Commission.</p>
                                </div>
                              </a>
                            </div>


                            <!-- Needed to activate display suite support on forms -->
                          </div>
                          <div class="listing__item">
                            <div about="/publications_en" typeof="sioc:Item foaf:Document" class="node node-class node-teaser view-mode-teaser">
                              <a href="/publications_en" class="listing__item-link">
                                <div class="listing__column-main column-main ">
                                  <h3 class="listing__title">Publications</h3>
                                  <p>A wide range of EU publications are accessible from the EU Bookshop and other sources.</p>
                                </div>
                              </a>
                            </div>


                            <!-- Needed to activate display suite support on forms -->
                          </div>
                          <div class="listing__item">
                            <div about="/statistics_en" typeof="sioc:Item foaf:Document" class="node node-class node-teaser view-mode-teaser">
                              <a href="/statistics_en" class="listing__item-link">
                                <div class="listing__column-main column-main ">
                                  <h3 class="listing__title">Statistics</h3>
                                  <p>Official EU statistics, public opinion polls, trends and forecasts.</p>
                                </div>
                              </a>
                            </div>


                            <!-- Needed to activate display suite support on forms -->
                          </div>
                        </div>
                      </div>
                    </div>
                    <div id="latest" class="sidebar-field-group section__group">
                      <h2>
                        <span>Latest</span>
                      </h2>
                      <div class="sidebar-field-group__main">
                        <div class="field field--latest-announcements-block ">
                          <div class="field__items">
                            <div class="view view-announcements view-id-announcements view-display-id-latest_block view-dom-id-8b3b9ec5e6eb3afd33e551360f888d96">



                              <div class="view-empty">
                                <div class="view view-announcements view-id-announcements view-display-id-attachment_1 view-dom-id-80abe28b1312992a01f84bac52b40038">



                                  <div class="view-content">
                                    <div class="listing__wrapper listing__wrapper--default">
                                      <div class="listing listing--teaser">
                                        <div class="listing__item">

                                          <div about="/announcements/presenting-news-beta-website_en" typeof="sioc:Item foaf:Document" class="node node-announcement node-teaser view-mode-teaser">
                                            <a href="/announcements/presenting-news-beta-website_en" class="listing__item-link">
                                              <div class="listing__column-main column-main ">
                                                <div class="meta">
                                                  <span class="meta__item meta__item--type">news article</span>
                                                  <span class="meta__item">7 July 2015</span>
                                                </div>
                                                <h3 class="listing__title">Presenting news on the beta website</h3>
                                                <p>​​News on this beta website will appear under the heading &#039;Latest&#039;. A news item encompasses everything from press releases to a speech to a new video. ​​</p>
                                              </div>
                                            </a>
                                          </div>


                                          <!-- Needed to activate display suite support on forms -->
                                        </div>
                                        <div class="listing__item">

                                          <div about="/announcements/new-web-presence-commission_en" typeof="sioc:Item foaf:Document" class="node node-announcement node-teaser view-mode-teaser">
                                            <a href="/announcements/new-web-presence-commission_en" class="listing__item-link">
                                              <div class="listing__column-main column-main ">
                                                <div class="meta">
                                                  <span class="meta__item meta__item--type">news article</span>
                                                  <span class="meta__item">6 July 2015</span>
                                                </div>
                                                <h3 class="listing__title">A new web presence for the Commission</h3>
                                                <p>Launched on schedule in early July 2015, a test version of the new online presence for the Commission is available for browsing now. </p>
                                              </div>
                                            </a>
                                          </div>


                                          <!-- Needed to activate display suite support on forms -->
                                        </div>
                                      </div>
                                    </div>
                                  </div>





                                </div>
                              </div>


                              <div class="more-link">
                                <a class="listing__read-more" href="/announcements_en">
    All news  </a>
                              </div>



                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="sidebar-field-group__sidebar">
                        <div class="social-media-links field field-name-field-core-social-network-links field-type-social-network-link field-label-hidden">
                          <p>Follow the latest progress and get involved.</p>
                          <ul class="social-media-links__list">
                            <li class="social-media-links__item"><a href="https://www.youtube.com/user/eutube" title="YouTube" class="icon-social icon-social icon-social--youtube">YouTube</a></li>
                            <li class="social-media-links__item"><a href="https://twitter.com/EU_Commission" title="Twitter" class="icon-social icon-social icon-social--twitter">Twitter</a></li>
                            <li class="social-media-links__item"><a href="https://plus.google.com/+EuropeanCommission" title="Google+" class="icon-social icon-social icon-social--gplus">Google+</a></li>
                            <li class="social-media-links__item"><a href="https://www.facebook.com/EuropeanCommission" title="Facebook" class="icon-social icon-social icon-social--facebook">Facebook</a></li>
                            <li class="social-media-links__item  social-media-links__item--noicon"><a href="http://europa.eu/contact/social-networks/index_en.htm#n:|i:4|e:1|t:|s:">Other social networks</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </section>
                </div>
              </div>
            </div>
          </div>


          <!-- Needed to activate display suite support on forms -->
        </div>

      </section>
      <!-- /.block -->
    </div>

    <div class="container-fluid">
    </div>
  </section>

  <section class="footer-top">
    <div class="container-fluid">
      <div class="region region-footer-top">
        <section id="block-Next EUROPA-feedback-Next EUROPA-feedback" class="block block-Next EUROPA-feedback feedback-form__wrapper block--full-width clearfix">


          <div class="block__content">
            <form class="feedback-form" action="/index_en" method="post" id="Next EUROPA-feedback-form" accept-charset="UTF-8">
              <div><a href="#feedback-form__content" class="feedback-form__trigger" data-toggle="collapse">Report a problem or give feedback on this page</a>
                <div id="feedback-form__content" class="collapse">
                  <div class="feedback-form__content">
                    <div class="feedback-form__text">I have a</div>
                    <div class="accordion" id="feedback-form__accordion">
                      <div class="accordion-group">
                        <div class="accordion-heading"><a class="accordion-toggle" data-toggle="collapse" data-parent="#feedback-form__accordion" href="#problem">Problem</a></div>
                        <div id="problem" class="accordion-body collapse in">
                          <div class="accordion-inner">
                            <div class="form-type-textarea form-item-what-were-you-doing form-item form-group">
                              <label for="edit-what-were-you-doing">What were you doing? </label>
                              <div class="form-textarea-wrapper">
                                <textarea class="form-control form-textarea" id="edit-what-were-you-doing" name="what_were_you_doing" cols="60" rows="5"></textarea>
                              </div>
                            </div>
                            <div class="form-type-textfield form-item-what-didnt-work form-item form-group">
                              <label for="edit-what-didnt-work">What didn't work? </label>
                              <input class="form-control form-text" type="text" id="edit-what-didnt-work" name="what_didnt_work" value="" size="60" maxlength="128" />
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="accordion-group">
                        <div class="accordion-heading"><a class="accordion-toggle" data-toggle="collapse" data-parent="#feedback-form__accordion" href="#suggestion">Suggestion</a></div>
                        <div id="suggestion" class="accordion-body collapse in">
                          <div class="accordion-inner">
                            <div class="form-type-textarea form-item-suggestion form-item form-group">
                              <div class="form-textarea-wrapper">
                                <textarea class="form-control form-textarea" id="edit-suggestion" name="suggestion" cols="60" rows="5"></textarea>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="accordion-group">
                        <div class="accordion-heading"><a class="accordion-toggle" data-toggle="collapse" data-parent="#feedback-form__accordion" href="#compliment">Compliment</a></div>
                        <div id="compliment" class="accordion-body collapse in">
                          <div class="accordion-inner">
                            <div class="form-type-textfield form-item-compliment form-item form-group">
                              <input class="form-control form-text" type="text" id="edit-compliment" name="compliment" value="" size="60" maxlength="128" />
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <button class="btn-primary feedback-form__btn btn form-submit" id="edit-submit" name="op" value="Send" type="submit">Send</button>
                  </div>
                </div>
                <input type="hidden" name="feedback_type" value="feedback" />
                <input type="hidden" name="url" value="http://beta.ec.europa.eu/index_en" />
                <input type="hidden" name="language" value="en" />
                <input type="hidden" name="form_build_id" value="form-yAR1Wmhv2J_hU8QVxjOwy3uAXA_LXOK2W1nS15ySte0" />
                <input type="hidden" name="form_id" value="Next EUROPA_feedback_form" />
              </div>
            </form>
          </div>

        </section>
        <!-- /.block -->
        <section id="block-dt-core-dt-footer-site-tab-switcher" class="block block-dt-core clearfix">


          <div class="block__content">
            <span class='site-switcher site-switcher--footer'>
              <ul class='site-switcher__list'>
                <li class='site-switcher__option'><a href='http://ec.europa.eu/index_en.htm'>Political priorities</a></li>
                <li class='site-switcher__option is-selected'><a href='https://beta.ec.europa.eu/index_en'>Information and services</a></li>
              </ul>
            </span>
          </div>

        </section>
        <!-- /.block -->
      </div>
    </div>
  </section>

  <footer class="footer">
    <div class="container-fluid">
      <div class="row">
        <section class="col-sm-12 footer__column-main">
          <div class="region region-footer">
            <section id="block-menu-menu-dt-menu-social-media" class="block block-menu clearfix">

              <span class="footer__label" class="block__title">The European Commission on:</span>

              <ul class="footer__menu menu nav list-inline">
                <li class="first leaf footer__menu-item"><a href="https://www.facebook.com/EuropeanCommission" data-display-title="1" class="icon icon--facebook footer__icon--facebook footer__icon--social" data-remove-class="0">Facebook</a></li>
                <li class="leaf footer__menu-item"><a href="https://twitter.com/eu_commission" data-display-title="1" class="icon icon--twitter footer__icon--twitter footer__icon--social" data-remove-class="0">Twitter</a></li>
                <li class="last leaf footer__menu-item"><a href="http://ec.europa.eu/dgs/communication/services/journalist/social-media_en.htm" data-display-title="1" data-remove-class="0">Other social media</a></li>
              </ul>
            </section>
            <!-- /.block -->
            <section id="block-menu-menu-dt-service-links" class="block block-menu clearfix">


              <div class="block__content">
                <ul class="footer__menu footer__menu--separator menu nav list-inline">
                  <li class="first leaf footer__menu-item"><a href="/node/1108_en" data-display-title="1" data-remove-class="0">About this beta</a></li>
                  <li class="leaf footer__menu-item"><a href="/jobs_en" data-display-title="1" data-remove-class="0">Jobs at the European Commission</a></li>
                  <li class="leaf footer__menu-item"><a href="/cookies_en" data-display-title="1" data-remove-class="0">Cookies</a></li>
                  <li class="leaf footer__menu-item"><a href="/legal-notice_en" data-display-title="1" data-remove-class="0">Legal notice</a></li>
                  <li class="last leaf footer__menu-item"><a href="/contact_en" data-display-title="1" data-remove-class="0">Contact</a></li>
                </ul>
              </div>

            </section>
            <!-- /.block -->
            <section id="block-dt-core-dt-block-copyright" class="block block-dt-core clearfix">


              <div class="block__content">
                <div class='footer__disclaimer'>
                  <span>© European Commission 2015</span>
                </div>
              </div>

            </section>
            <!-- /.block -->
          </div>
        </section>
      </div>
    </div>
  </footer>
  <script src="http://beta.ec.europa.eu/sites/beta/modules/contrib/picture/picturefill2/picturefill.min.js?v=2.0"></script>
  <script src="http://beta.ec.europa.eu/sites/beta/modules/contrib/picture/picture.min.js?v=7.39"></script>
  <script src="core/scripts/theme.js"></script>
</body>

</html>
