<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Next EUROPA Theme</title>
  <meta name="author" content="EC Europa">

  <link rel="stylesheet" href="../../../core/styles/core.css">

  <link rel="stylesheet" href="../styles/nav-tabs.css">

  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
<ul class="nav nav-tabs nav-tabs--with-content nav-tabs-processed">
  <li class="active">
    <a href="#bootstrap-fieldgroup-nav-item--actions" data-toggle="tab">Actions</a>
  </li>
  <li class="">
    <a href="#bootstrap-fieldgroup-nav-item--latest" data-toggle="tab">Latest</a>
  </li>
  <li class="">
    <a href="#bootstrap-fieldgroup-nav-item--details" data-toggle="tab">Details</a>
  </li>
</ul>


  <script src="../../../core/scripts/core.js"></script>

  <script src="../../../gitbook/plugins/gitbook-plugin-styleguide/iframeResizer.contentWindow.js"></script>
</body>
</html>
