/*
Footer

Site-wide footer component

Markup: html/footer.html

Styleguide footer
*/

.footer {
  background: $brand-primary;
  color: #fff;
  font-size: $font-size-little;
  text-align: center;

  a {
    color: #fff;
    text-decoration: underline;

    &:hover,
    &:active,
    &:focus {
      text-decoration: none;
    }
  }

  @extend .hidden-print;
}

@include breakpoint(screen-sm-min) {
  .footer {
    text-align: left;
  }
}

// External link specific adjustments
@mixin _footer_external_link_mixin() {
  &:after {
    position: absolute;
    line-height: 2.2;
  }
}

.footer {
  a {
    padding-right: 1.1em !important;

    &#{"[" + $external_link_pattern + "]"}:not(.is-internal) {
      .site-political & {
        &:not(#{$ec_url_patterns}) {
          @include _footer_external_link_mixin();
        }
      }
      .site-information & {
        @include _footer_external_link_mixin();
      }
    }
  }
}
