<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Next EUROPA Theme</title>
  <meta name="author" content="EC Europa">

  <link rel="stylesheet" href="../../../core/styles/core.css">

  <link rel="stylesheet" href="../styles/timeline.css">

  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
<div class="timeline">
  <div class="timeline__item">
    <div class="timeline__item-title">By late-2015</div>
    <div class="timeline__text">
      <ul>
        <li>The Commission will convene the first energy infrastructure forum to discuss and find solutions to issues that are common to all regions across Europe.</li>
      </ul>
    </div>
  </div>
  <div class="timeline__footer">
    <button class="btn btn-time-line">Show all timeline</button>
  </div>
</div>


  <script src="../../../gitbook/plugins/gitbook-plugin-styleguide/iframeResizer.contentWindow.js"></script>
</body>
</html>
