<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Next EUROPA Theme</title>
  <meta name="author" content="EC Europa">

  <link rel="stylesheet" href="../../../core/styles/core.css">

  <link rel="stylesheet" href="../styles/rss.css">

  <link rel="stylesheet" href="../../icon/styles/icon.css">

  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
<div class="rss-link__wrapper">
  <div class="rss-link">
    <span class="rss-link__label">Get updates:</span>
    <a href="#">
      <span class="rss-link__icon icon-social icon-social--rss"></span>
      <span class="rss-link__text">RSS</span>
    </a>
  </div>
</div>


  <script src="../../../gitbook/plugins/gitbook-plugin-styleguide/iframeResizer.contentWindow.js"></script>
</body>
</html>
