// Banner

.banner__author {
  font-size: $font-size-xsmall;
  font-weight: $font-weight-bold;
  padding-bottom: 0.6em;

  &:before {
    content: ' - ';
  }
}

.banner__caption {
  background: $grey-lighter;
  font-size: $font-size-xsmall;
  padding: 0.5em 1em;
  width: 100%;
  max-width: 100%;
}

.banner__paragraph {
  @extend .col-md-6;
  font-size: $font-size-little;
}

.banner__left {
  @extend .col-md-6;
}
