<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Next EUROPA Theme</title>
  <meta name="author" content="EC Europa">

  <link rel="stylesheet" href="../../../core/styles/core.css">

  <link rel="stylesheet" href="../styles/splash-page.css">

  <link rel="stylesheet" href="../../icon/styles/icon.css">

  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
<div class="splash-page">
  <div class="splash-page__content">
    <div class="container-fluid"><!-- only fluid for styleguide -->
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <nav class="splash-page__container">
            <h2><span class="icon icon--generic-lang"></span> Select your language</h2>
            <div class="row">
              <div class="col-sm-6">
                <a href="#" lang="en" hreflang="en" class="splash-page__btn-language is-active btn icon icon--check" data-languagespecific="true">English</a>
              </div>
              <div class="col-sm-6">
                <a href="#" lang="nl" hreflang="nl" class="splash-page__btn-language btn icon icon--check" data-languagespecific="true">Nederlands</a>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <a href="#" lang="nl" hreflang="nl" class="splash-page__btn-language btn icon icon--check" data-languagespecific="true">Nederlands</a>
              </div>
              <div class="col-sm-6">
                <a href="#" lang="en" hreflang="en" class="splash-page__btn-language is-active btn icon icon--check" data-languagespecific="true">English</a>
              </div>
            </div>
            <div class="splash-page__helper-text">
              <table>
                <tbody>
                  <tr>
                    <th>Language</th><td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tempor suscipit nulla, quis finibus lacus fermentum ut. </td>
                  </tr>
                  <tr>
                    <th>Language</th><td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tempor suscipit nulla, quis finibus lacus fermentum ut. </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <a href="/index_en" class="splash-page__btn-close">Close</a>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>


  <script src="/gitbook/plugins/gitbook-plugin-styleguide/iframeResizer.contentWindow.js"></script>
</body>
</html>
