// Paragraphs
//
// Markup: ../../templates/paragraphs.html
//
// Styleguide 1.1.7

.paragraph {
  margin-bottom: 0.8em;
  max-width: 32em;
}

p {
  @extend .paragraph;
}

.paragraph--width-auto {
  width: auto;
}
