<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Next EUROPA Theme</title>
  <meta name="author" content="EC Europa">
  <link rel="stylesheet" href="../../../../styles/europa.css">
</head>
<body>
  <div class="meta meta--header">
  <span class="meta__item meta__item--type">news article</span>
  <span class="meta__item">17 September 2014</span>
</div>

  <script src="../../../../scripts/europa.js"></script>
  <script src="../../../../gitbook/plugins/gitbook-plugin-styleguide/iframeResizer.contentWindow.js"></script>
</body>
</html>
