<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Next EUROPA Theme</title>
  <meta name="author" content="EC Europa">

  <link rel="stylesheet" href="../styles/core.css">

  <link rel="stylesheet" href="../styles/labels.css">

  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
<span class="label label--default">Default</span>
<span class="label label--primary ">Primary</span>
<span class="label label--success">Success</span>
<span class="label label--info">Info</span>
<span class="label label--warning">Warning</span>
<span class="label label--danger">Danger</span>
<span class="label label--highlight">Highlight</span>


  <script src="/gitbook/plugins/gitbook-plugin-styleguide/iframeResizer.contentWindow.js"></script>
</body>
</html>
