<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Next EUROPA Theme</title>
  <meta name="author" content="EC Europa">

  <link rel="stylesheet" href="../styles/core.css">

  <link rel="stylesheet" href="../styles/messages.css">

  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
<div class="messages info">
    <h3>Info message</h3>
    <ul>
        <li>Lorem ipsum lor sit amet, consectetur adipi</li>
    </ul>
</div>
<br/>
<div class="messages warning">
    <h3>Warning message</h3>
    <ul>
        <li>Lorem ipsum lor sit amet, consectetur adipi</li>
    </ul>
</div>
<br/>
<div class="messages status">
    <h3>Successful message</h3>
    <ul>
        <li>Lorem ipsum lor sit amet, consectetur adipi</li>
    </ul>
</div>
<br/>
<div class="messages error">
    <h3>Error message</h3>
    <ul>
        <li>Lorem ipsum lor sit amet, consectetur adipi</li>
    </ul>
</div>
<br/>


  <script src="/gitbook/plugins/gitbook-plugin-styleguide/iframeResizer.contentWindow.js"></script>
</body>
</html>
