<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Next EUROPA Theme</title>
  <meta name="author" content="EC Europa">

  <link rel="stylesheet" href="../styles/core.css">

  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
<span class="site-switcher site-switcher--header">
  <ul class="site-switcher__list">
      <li class="site-switcher__option"><a href="#">Political priorities</a></li>
      <li class="site-switcher__option is-selected"><a href="#">Information and services</a></li>
  </ul>
</span>


  <script src="../../gitbook/plugins/gitbook-plugin-styleguide/iframeResizer.contentWindow.js"></script>
</body>
</html>
