<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Next EUROPA Theme</title>
  <meta name="author" content="EC Europa">

  <link rel="stylesheet" href="../../../core/styles/core.css">

  <link rel="stylesheet" href="../styles/filters.css">

  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
<div class="row">
  <div class="col-md-3">
    <section class="filters">

    </section>
  </div>
  <div class="col-md-9">
    <div class="filters__result-count">12 announcements</div>
    <div class="filters_button"></div>
  </div>
</div>


  <script src="/gitbook/plugins/gitbook-plugin-styleguide/iframeResizer.contentWindow.js"></script>
</body>
</html>
